<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
 <!-- <add key="ntech.trapets.kycinstantwatch.serviceendpoint" value="https://kyc4.instantwatch.net/services/ListLookup.asmx"/>-->
  <!--<add key="ntech.trapets.kycinstantwatch.username" value="gcc_nakter-test"/>-->
 <!-- <add key="ntech.trapets.kycinstantwatch.password" value="5H5hUvSa-test"/>-->
 <!-- <add key="ntech.trapets.kycinstantwatch.skipsoundex" value="true"/>-->
      
  <add key="ntech.machinesettingsfile" value="C:\Naktergal\FI-Staging\StaticResources\ntech.machinesettings.config" />
</appSettings>