@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <div class="content">
        <div class="vh-50">
            <div class="aligned-center">
                <p>An error has occured, please contact support if it doesn't resolve by retrying.</p>
            </div>
        </div>
        
    </div>
</body>
</html>