<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ntech.isproduction" value="false" />
  <add key="ntech.serviceregistry" value="file:C:\Naktergal\StaticResources\serviceregistry.txt" />
  <add key="ntech.isverboseloggingenabled" value="false" />
  <add key="ntech.isbundlingenabled" value="false"/>
  <add key="ntech.email.provider" value="mailgun"/>
  <add key="ntech.email.testemail" value="testemail@naktergaltech.se"/>
  <add key="ntech.email.mailgun.apikey" value="key-e1621278514f813328c125addf15525d"/>
  <add key="ntech.email.mailgun.domain" value="dev-mail1.naktergaltech.se"/>  
  <add key="ntech.email.templatefolder" value="C:\Naktergal\StaticResources\emailtemplates"/>
  <add key="ntech.pdf.templatefolder" value="C:\Naktergal\StaticResources\pdftemplates"/>
  <add key="ntech.encryption.keysfile" value="C:\Naktergal\StaticResources\encryptionkeys.txt" />
  <add key="ntech.credit.additionalquestions.urlpattern" value="http://localhost:32730/additional-questions?id={token}"/>
  <add key="ntech.credit.signing.successurl" value="http://localhost:32730/signing/thankyou" />
  <add key="ntech.credit.signing.failedurl" value="http://localhost:32730/signing/failed" />
  <add key="ntech.credit.kycquestionsfile" value="C:\Naktergal\StaticResources\KycQuestions.xml"/>
  <add key="ntech.credit.affiliatesfolder" value="C:\Naktergal\StaticResources\creditaffiliates"/>
  <add key="ntech.credit.staticinitialfee" value="150"/>
  <add key="ntech.credit.staticnotificationfee" value="5"/>
</appSettings>