<td colspan="4">
    <div class="row">
        <div class="col-md-6">
            <div class="row" ng-if="i.ItemDetails.ActionMessage">
                <label class="col-md-6 text-right">ActionMessage</label>
                <div class="col-md-6"><p><b>{{i.ItemDetails.ActionMessage}}</b></p></div>
            </div>
            <div class="row" ng-if="i.ItemDetails.HasEInvoiceMessage">
                <label class="col-md-12 text-center"><b>Message items</b></label>
            </div>
            <div class="row" ng-if="i.ItemDetails.HasEInvoiceMessage" ng-repeat="r in i.ItemDetails.EInvoiceMessageItems">
                <label class="col-md-6 text-right">{{r.Name}}</label>
                <div class="col-md-6"><p><b>{{r.Value}}</b></p></div>
            </div>
            <div class="row" ng-if="i.ItemDetails.HasConnectedBusinessEvent">
                <label class="col-md-12 text-center"><b>Connected event {{i.ItemDetails.ConnectedBusinessEventType}}</b></label>
            </div>
            <div class="row" ng-if="i.ItemDetails.HasConnectedBusinessEvent" ng-repeat="r in i.ItemDetails.ConnectedBusinessEventItems">
                <label class="col-md-6 text-right">{{r.Name}}</label>
                <div class="col-md-6"><p><b>{{r.Value}}</b></p></div>
            </div>
        </div>
    </div>
</td>