<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ntech.isprofilerenabled" value="false" />
    <add key="ntech.identityserver.certificate"
         value="filewithpw:C:\Naktergal\FI-Staging\StaticResources\cert-BalanziaProdSigningCert1.pfx;wei0rfju2gft8290rdf8j903gtj84590gj8hg" />
    <!-- Url to the identity server that handles windows auth (if the org doesnt have it's own, use nWindowsAuthIdentityServer -->
    <!-- <add key="ntech.identityserver.windowslogin.enabled" value="true"/> -->
    <!-- <add key="ntech.identityserver.windowslogin.url" value="https://ad-user.gccab.local/"/> -->
    <add key="ntech.identityserver.usernamepassword.enabled" value="false" />
    
    <add key="ntech.machinesettingsfile" value="C:\Naktergal\FI-Staging\StaticResources\ntech.machinesettings.config" />
</appSettings>