<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!-- Url to the identity server that handles windows auth (if the org doesnt have it's own, use nWindowsAuthIdentityServer -->
   <!-- <add key="ntech.identityserver.windowslogin.enabled" value="true"/> -->
  <!--  <add key="ntech.identityserver.windowslogin.servicename" value="nWindowsAuthIdentityServer"/> -->
  <!--  <add key="ntech.identityserver.windowslogin.url" value="https://ad-user.nfp.gccab.local/"/>   -->

  <add key="ntech.machinesettingsfile" value="C:\Naktergal\BroccSe\StaticResources\ntech.machinesettings.config" />
</appSettings>