@{
    ViewBag.AngularDeclaration = "ng-app=\"app\" ng-cloak translate-cloak";
}

@section Scripts {
    <script>
        initialData = parseUtf8Base64InitialData('@Html.Raw(ViewBag.JsonInitialData)')
    </script>
    @Scripts.Render("~/Content/js/bundle-angular-translateonly")
}
<div class="vh-50">
    <div class="aligned-center">
        <p translate="noc_ejkund_text1">Du verkar inte ha någon aktiv eller avslutad kundrelation med oss.</p>
    </div>
</div>