<div class="application">
    <div *ngIf="!isIdependent && isCalculator">
        <div class="bg" style="min-height: 100vh;">
            <div class="d-flex flex-row grey-bottom-border"
                style="padding-top: 8px;padding-bottom: 8px;margin-bottom:30px">
                <div class="col-sm-3 align-self-center text-right"><img src="assets/img/logo.svg"
                        style="height:38px;" /></div>
                <div class="col-sm-6"></div>
                <div class="align-self-center col-sm-3 text-center">
                    <a class="pull-left custom-link" [style.opacity]="currentLanguage === 'fi'  ? '1' : '0.6'"
                        style="margin-right:20px;cursor: pointer;" (click)="setLanguage('fi')">Fi</a>
                    <a class="pull-left custom-link" [style.opacity]="currentLanguage === 'sv'  ? '1' : '0.6'"
                        style="cursor: pointer" (click)="setLanguage('sv')">Sv</a>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                        <div class="d-flex movein" style="min-height: 80vh;">
                            <div class="align-self-center flex-grow-1">
                                <ng-content select="[calculator-body]"></ng-content>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <calculator-footer></calculator-footer>
    </div>

    <div class="bg" *ngIf="!isIdependent && !isCalculator">
        <div
            style="padding-top:15px;padding-bottom:15px;margin-bottom:30px;box-shadow: 0px 2px 5px 0px rgba(51, 51, 51,0.2);">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                        <div class="d-flex flex-row">
                            <div class="align-self-center pr-2">                                
                                <button [disabled]="!forwardBackService.isBackAllowed.value" class="icon-only-button"
                                    (click)="back($event)"><span class="glyphicon glyphicon-menu-left" style="font-size: 35px"></span></button>
                            </div>
                            <div class="align-self-center flex-grow-1">
                                <div class="progress" style="height: 2px;">
                                    <div class="progress-bar" role="progressbar"
                                        [style.width]="isFinalStep ? '100%' : (progressPercent == null ? null : (progressPercent + '%'))">
                                    </div>
                                </div>
                            </div>
                            <div class="align-self-center pl-2">
                                <a class="pull-left custom-link"
                                    [style.opacity]="currentLanguage === 'fi'  ? '1' : '0.6'"
                                    style="margin-right:20px;cursor: pointer;" (click)="setLanguage('fi')">Fi</a>
                                <a class="pull-left custom-link"
                                    [style.opacity]="currentLanguage === 'sv'  ? '1' : '0.6'" style="cursor: pointer"
                                    (click)="setLanguage('sv')">Sv</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container pt-2">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                    <div class="d-flex movein min-height-70 mobile-no-vh">
                        <div class="align-self-center flex-grow-1">
                            <label *ngIf="isCoApplicant.value" class="custom-label" [translate]="'terms.coApplicant'">Medsökande</label>
                            <ng-content></ng-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg" *ngIf="isIdependent">
        <div class="container pt-2">
            <div class="row">
                <div class="col-xs-12 col-sm-offset-2 col-sm-8">
                    <div class="d-flex movein min-height-70 mobile-no-vh">
                        <div class="align-self-center flex-grow-1">
                            <ng-content select="[independent-body]"></ng-content>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<div *ngIf="forwardBackService.isLoading.value" class="loading"></div>