@{
    ViewBag.Title = "Logged out";
}

@section Scripts {
    @Scripts.Render("~/Content/js/bundle-base")
}

<p class="pt-3">You have been logged out</p>
<div class="pt-3">
    <a class="n-main-btn n-blue-btn" href="/">Log back in</a>
</div>