<div *ngIf="m">
  <div class="row">
    <div class="col-xs-4 text-right">
      <span>Assigned handler</span>
    </div>
    <div class="col-xs-5">
      <div *ngFor="let h of m.assignedHandlers">
        <span
          ><b> {{ h.UserDisplayName }} </b></span
        >
      </div>
      <div *ngIf="m.assignedHandlers.length < 1">
        <span><b> None </b></span>
      </div>
    </div>
    <div class="col-xs-3 text-right">
      <span
        (click)="toggleExpanded($event)"
        class="glyphicon chevron-bg"
        [ngClass]="{
          ' glyphicon-chevron-down': m.isExpanded,
          'glyphicon-chevron-right': !m.isExpanded
        }"
      ></span>
    </div>
  </div>

  <div *ngIf="m.isExpanded">
    <hr class="hr-section custom-line mb-0" />
    <div class="form-horizontal pb-1">
      <div
        class="form-group pt-1"
        *ngFor="let assignedHandler of m.assignedHandlers"
      >
        <label class="control-label col-xs-9">{{
          assignedHandler.UserDisplayName
        }}</label>
        <div class="col-xs-3 text-right">
          <button
            (click)="removeAssignedHandler(assignedHandler.UserId, $event)"
            class="n-icon-btn n-red-btn"
          >
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>

      <div class="form-group pt-2" *ngIf="!m.isAddUserMode">
        <div class="col-xs-9">
          <button
            (click)="beginEdit($event)"
            class="n-icon-btn n-blue-btn pull-right"
          >
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>

      <div class="form-group pt-2" *ngIf="m.isAddUserMode">
        <label class="control-label col-xs-8">
          <select
            class="form-control"
            name="selectedHandler"
            [(ngModel)]="m.selectedAddHandlerUserId"
          >
            <option value="" disabled="true">Select user</option>
            <option
              *ngFor="let handler of m.possibleAssignedHandlers"
              [ngValue]="handler.UserId"
            >
              {{ handler.UserDisplayName }}
            </option>
          </select>
        </label>
        <div class="col-xs-4 text-right" *ngIf="m.selectedAddHandlerUserId">
          <button
            (click)="cancelEdit($event)"
            class="n-icon-btn n-white-btn mr-1"
          >
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          <button (click)="commitEdit($event)" class="n-icon-btn n-green-btn">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
