<div *ngIf="initialData">
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-1">Lån</th>
                <th class="col-xs-3 text-right">Aktuell skuld / max</th>
                <th class="col-xs-5">Regel</th>
                <th class="col-xs-2 text-right">Amortering</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let loan of initialData.basis.loans">
                <tr >
                    <td>{{loan.creditNr}}</td>
                    <td class="text-right">{{loan.currentCapitalBalanceAmount | currency}}</td>
                    <td>{{getRuleDescription(loan)}}</td>
                    <td class="text-right">{{loan.monthlyAmortizationAmount | currency}}</td>
                </tr>
                <tr *ngIf="isSecondLoanRowNeeded(loan)">
                    <td></td>
                    <td class="text-right">{{loan.maxCapitalBalanceAmount | currency}}</td>
                    <td></td>
                    <td class="text-right"></td>
                </tr>                
            </ng-container>
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <th class="col-sm-8"></th>
            <th class="col-sm-4"></th>
        </thead>
        <tbody>         
            <tr>
                <td>Värdering</td>
                <td>{{initialData.basis.objectValue | currency}}</td>
            </tr>
            <tr>
                <td>Värderingsdatum</td>
                <td>{{initialData.basis.objectValueDate | date:'shortDate'}}</td>
            </tr>
            <tr>
                <td>Årsinkomst</td>
                <td>{{initialData.basis.currentCombinedYearlyIncomeAmount | currency}}</td>
            </tr>
            <tr>
                <td>Bolån på andra säkerheter</td>
                <td>{{initialData.basis.otherMortageLoansAmount | currency}}</td>
            </tr>
            <tr>
                <td>LTV (belåningsgrad)</td>
                <td>{{initialData.basis.ltvFraction | percent}}</td>
            </tr>
            <tr>
                <td>LTI (skuldkvot)</td>
                <td>{{initialData.basis.ltiFraction | number}}</td>
            </tr>
            <tr>
                <td>Skuld som inte omfattas av amorteringskrav</td>
                <td>{{initialData.underlag.skuldEjOmfattasAmorteringskrav | currency}}</td>
            </tr>
            <tr>
                <td>Skuld som omfattas av amorteringskrav</td>
                <td>{{initialData.underlag.skuldOmfattasAmorteringskrav | currency}}</td>
            </tr>
            <tr>
                <td>Skuld som omfattas av skärpt amorteringskrav</td>
                <td>{{initialData.underlag.skuldOmfattasSkarptAmorteringskrav | currency}}</td>
            </tr>
            <tr>
                <td>Varav alternativregeln</td>
                <td>{{initialData.underlag.varavOvanAlternativRegeln | currency}}</td>
            </tr>
            <tr>
                <td>Total amortering på objektet</td>
                <td>{{initialData.underlag.totalAmorteringObjektet | currency}}</td>
            </tr>
            <tr>
                <td>Totalt amorteringskrav enl. huvudregeln</td>
                <td>{{initialData.underlag.totalAmorteringKravObjektetBankenHuvud | currency}}</td>
            </tr>
            <tr>
                <td>Totalt amorteringskrav enl. alternativregeln</td>
                <td>{{initialData.underlag.totalAmorteringKravObjektetBankenAlternativ | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>