<div *ngIf="isTest && model && model.items.length > 0">
  <div class="test-popup-frame test-popup-position" *ngIf="isPopupVisible">
    <div class="pt-1">
      <ul class="list-unstyled">
        <li class="pb-1" *ngFor="let i of model.items">
          <a
            *ngIf="i.isLink"
            [href]="i.linkUrl"
            target="_blank"
            class="btn btn-primary"
            >{{ i.text }}</a
          >
          <button
            *ngIf="i.isFunctionCall"
            target="_blank"
            class="btn btn-primary"
            (click)="callFunction(i, $event)"
          >
            {{ i.text }}
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="test-popup-button-position">
    <button
      class="btn btn-default"
      [ngClass]="{ 'test-popup-toned-down': !isPopupVisible }"
      (click)="togglePopup($event)"
    >
      <span class="glyphicon glyphicon-sort"></span>
    </button>
  </div>
</div>
