<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="ntech.princexml.exepath" value="C:\Naktergal\ThirdParty\princexml\bin\prince.exe"/>
  <add key="ntech.princexml.licensefilepath" value="C:\Naktergal\StaticResources\princexml\license.dat" />

  <add key="ntech.archive.storageprovider.name" value="aws" />

   <!-- New aws settings -->
  <add key="ntech.archive.storageprovider.aws.bucketname" value="document-archive-staging-003fe606" />
  <add key="ntech.archive.storageprovider.aws.accesskey" value="AKIA5YP3NXO5ZF6TP7TQ" />
  <add key="ntech.archive.storageprovider.aws.secretkey" value="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" />
  <add key="ntech.archive.storageprovider.aws.region" value="eu-north-1" />
  <add key="ntech.archive.storageprovider.aws.bucketpathprefix" value="archive1/" />

  <add key="ntech.archive.fileexport.profiles" value="C:\Naktergal\BroccSe\StaticResources\FileExportProfiles.xml" />
  <add key="ntech.princexml.pdfprofile" value="PDF/A-1a" />

  <add key="ntech.machinesettingsfile" value="C:\Naktergal\BroccSe\StaticResources\ntech.machinesettings.config" />
</appSettings>