# ASP.NET
bin/
obj/
project.lock.json
project.fragment.lock.json
artifacts/

# --- Dependencies ---
node_modules
**/node_modules/  # Ignore npm/yarn packages
npm-debug.log
yarn-error.log
.angular/
.angular/cache # Angular CLI build cache (v12+)
**/.angular/cache
.tmp/          # Temporary files (Angular/CLI)
dist/          # Compiled output (e.g., `ng build`)
out/           # Alternate build output folder
.aot/          # Ahead-of-Time compiler artifacts
out-tsc/

# --- Environment/Config ---
.env           # Environment variables (never commit secrets!)
.env.local     # Local environment overrides
*.env          # Catch-all for .env files

# --- IDE & Editor Files ---
.idea/         # JetBrains IDE (WebStorm, IntelliJ)
.vs/           # Visual Studio Code settings
.vscode/       # Ibid
*.suo          # Visual Studio user options
*.userosscache
*.sln.docstates
*.ntvs*
*.njsproj
*.sln
*.vsidx

# --- OS & Tool Artifacts ---
.DS_Store      # macOS folder attributes
Thumbs.db      # Windows thumbnail cache
*.log          # Log files (npm, yarn, etc.)
npm-debug.log*

# --- Temporary Files ---
*.tmp
*.swp
*.swo
/.vs
".vs/" 
*.config
/CoreModules/.vs/BroccLocalBuild/CopilotIndices/17.13.441.19478/SemanticSymbols.db
/CoreModules/.vs/BroccLocalBuild/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
/CoreModules/.vs/BroccLocalBuild/CopilotIndices/17.13.441.19478/SemanticSymbols.db-wal
*.json
/CoreModules/.vs/BroccLocalBuild/v17/.suo
/CoreModules/.vs/BroccLocalBuild/v17/DocumentLayout.backup.json
/CoreModules/.vs/BroccLocalBuild/v17/DocumentLayout.json
/CoreModules/nCredit/.vs/nCredit/config/applicationhost.config
*.db
*.db-shm
*.db-wal
/CoreModules/nCredit/.vs/nCredit/v17/.suo
/CoreModules/nCredit/.vs/nCredit/v17/DocumentLayout.json
/CoreModules/nGccCustomerApplication/.vs/nGccCustomerApplication.csproj.dtbcache.json
/CoreModules/nUser/.vs/nUser.csproj.dtbcache.json
/CoreModules/nTest/.vs/nTest.csproj.dtbcache.json
/CoreModules/NTech.Services.Infrastructure/.vs/NTech.Services.Infrastructure.csproj.dtbcache.json
/CoreModules/nPreCredit/.vs/nPreCredit.csproj.dtbcache.json
/CoreModules/nDataWarehouse/.vs/nDataWarehouse.csproj.dtbcache.json
/CoreModules/nCustomerPages/.vs/nCustomerPages.csproj.dtbcache.json
