<appSettings>
    <add key="ntech.isproduction" value="false" />
    <add key="ntech.skinning.enabled" value="true" />
    <add key="ntech.clientresourcefolder" value="C:\Naktergal\FI-Staging\NaktergalTemp\CurrentClientResources" />
    <add key="ntech.staticresourcefolder" value="C:\Naktergal\FI-Staging\StaticResources" />
    <add key="ntech.logfolder" value="C:\NaktergalTemp\Logs" />
    <add key="ntech.performancelog.enabled" value="false" />
    <add key="ntech.isbundlingenabled" value="true" />
    <add key="ntech.isverboseloggingenabled" value="false" />
    <add key="ntech.automationuser.username" value="automationuser1" />
    <add key="ntech.automationuser.password" value="we89drrjf734tgf7498gthy49jusd2389h7fr8922eusAScvf" />
  <!--  <add key="ntech.credit.signatureprovider" value="signicat" /> -->
    <add key="ntech.eidsignatureprovider" value="signicat" />
    <add key="ntech.eidloginprovider" value="mock" />
    <add key="ntech.legalinterestceilingpercent" value="20" />
    <add key="ntech.feature.securemessages" value="true" />
    <add key="ntech.contentsecuritypolicy.reportonly" value="true" />
    <add key="ntech.telemetry.loggingmode" value="remote" />

    <!-- credit: being -->
 <!--  <add key="ntech.email.provider" value="mailgun"/>-->
 <!--  <add key="ntech.email.mailgun.apikey" value="key-1cf7820c6d05d953376e3cf3ea4d1224"/>-->
 <!--  <add key="ntech.email.mailgun.domain" value="mail1.balanzia.fi"/>-->
 <!--  <add key="ntech.kycscreen.reportemail" value="lainat@balanzia.fi"/>-->
  <add key="ntech.credit.bookkeeping.siefileending" value="sie" />
  <add key="ntech.credit.outgoingpaymentiban" value="FI5181999710058889"/>
  <add key="ntech.credit.settlementbalancelimit" value="30"/>
  <add key="ntech.credit.notificationpaymentiban" value="FI5181999710058889"/>
  <add key="ntech.credit.outgoingpayments.bank" value="danskebankfi"/>
  <add key="ntech.credit.outgoingpayments.danskebankfi.fileformat" value="pain.001.001.03"/>
  <add key="ntech.credit.outgoingpayments.danskebankfi.sendingcompanyid" value="027603573"/>
  <add key="ntech.credit.outgoingpayments.danskebankfi.sendingcompanyname" value="GCC Capital AB, filial i Finland"/>
  <add key="ntech.credit.outgoingpayments.danskebankfi.sendingbankbic" value="DABAFIHH"/>
  <add key="ntech.credit.outgoingpayments.danskebankfi.sendingbankname" value="Danske Bank"/>
  <add key="ntech.credit.outgoingpayments.customermessagepattern" value="{eventName} Brocc {contextNumber}" />
  <add key="ntech.credit.bookkeeping.rulefile" value="C:\Naktergal\FI-Staging\NaktergalTemp\CurrentClientResources\Balanzia-BookkeepingRules.xml"/>
  <add key="ntech.credit.ibantobictranslationfile" value="C:\Naktergal\FI-Staging\NaktergalTemp\CurrentClientResources\iban_to_bic_table.xml"/>
  
  <add key="ntech.satreporting.creditorid" value="376441000013" />
  <add key="ntech.satreporting.creditorname" value="GCC Capital AB" />
  <add key="ntech.satreporting.exportprofile" value="ToSatAndBisnode" />
  <add key="ntech.trapetsamlreporting.exportprofile" value="test" />
  <add key="ntech.credit.debtcollection.partnername" value="OkpFi" />
  <add key="ntech.credit.bookkeepingfile.exportprofile" value="CreditBookKeepingFilesShare" />
    <!-- credit: end -->

    <!--test-->
    <add key="ntech.ntest.usesqlserverdocumentdb" value="false" />
    <add key="ntech.test.defaulttime" value="2021-05-05T11:00:00.0000000+02:00" />
    <add key="ntech.ntest.defaultprovidername" value="balanzia" />

   <!-- staging emails -->
   <add key="ntech.email.provider" value="InMemoryTestList" />
    <add key="ntech.email.testemail" value="testemail@naktergaltech.se" />
    <add key="ntech.email.mailgun.apikey" value="key-e1621278514f813328c125addf15525d" />
    <add key="ntech.email.mailgun.domain" value="dev-mail1.naktergaltech.se" />
    <add key="ntech.kycscreen.reportemail" value="testemail@naktergaltech.se" />

    <add key="ntech.identityserver.certificate" value="filewithpw:C:\Naktergal\FI-Staging\StaticResources\nUser-certificate.pfx;hadh9lid1kmiw67ptsemhep1t" />
    <add key="ntech.identityserver.googlelogin.enabled" value="true" />
    <add key="ntech.identityserver.googlelogin.clientid" value="767112712572-b3n9b2cbdcu0t9ju89csja1afvjq25e8.apps.googleusercontent.com" />                                                                
    <add key="ntech.identityserver.googlelogin.clientsecret" value="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" />
</appSettings>
