<a ng-href="{{productsOverviewUrl}}" translate="sao_minatjanster_m" class="item">Mina tjänster</a>
<a class="mobile" href="@Url.Action("Logout", "Common")" class="item logout-link"><span translate="logout">Logga ut</span></a>
<span class="desktop">
    <a href="@Url.Action("Logout", "Common")" class="item logout-link"><span translate="logout">Logga ut</span></a>
</span>
