<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="ntech.credit.creditreportprovider" value="UcSe" />
  <add key="ntech.precredit.plugins.sourcefolders" value="C:\Naktergal\NaktergalTemp\CurrentRelease\drop\nPreCredit\bin" />
  <add key="ntech.precredit.plugins.enablednames" value="BalanziaSe.Scoring.dll" />
  <add key="ntech.precredit.scoring.forcemanualcontroloninitial" value="true" />

  <add key="ntech.machinesettingsfile" value="C:\Naktergal\BroccSe\StaticResources\ntech.machinesettings.config" />
</appSettings>