<div class="content">
    
    <div class="vh-50">
        <div class="aligned-center">
            <p translate="ssa_rejectminor_text1">Du måste vara 18 år för att öppna sparkonto.</p>
        </div>
    </div>
</div>
