<div class="content">
    <div class="vh-50">
        <div class="aligned-center">
            <p translate="ssa_processing_text1">Tack, din ansökan behandlas av kundtjänst och vi kontaktar dig så snart vi har ett besked.</p>
        </div>
    </div>
</div>
  