<div class="content">    
    <div class="vh-50">
        <div class="aligned-center">
            <p translate="ssa_hasactive">Du har redan ett aktivt konto</p>
        </div>
    </div>
</div>


