<application-template>
    <form [formGroup]="form">
        <div class="pb-5 movein">
            <label class="custom-label" [translate]="'steps.nrOfApplicants.header'">Hur många sökande är ni?</label>    
            <div>
                <label class="custom-radio" [class.active]="form.value.nrOfApplicants === '1'">
                    <input type="radio"value="1" formControlName="nrOfApplicants">
                    {{'terms.one' | translate}}
                </label>
            </div>
            <div>
                <label class="custom-radio" style="min-width: 280px;" [class.active]="form.value.nrOfApplicants === '2'">
                    <input type="radio" value="2" formControlName="nrOfApplicants">
                    {{'terms.two' | translate}}
                </label>
            </div>    
        </div>
        <forward-back-buttons></forward-back-buttons>
    </form>
</application-template>
