<div *ngIf="model">
  <div class="pb-3 pt-1">
    <div class="custom-comment">
      <form novalidate class="form-inline" name="commentform">
        <div class="row">
          <div class="col-xs-6">
            <textarea
              [(ngModel)]="model.newCommentText"
              name="newCommentText"
              [ngClass]="{
                'comment-textarea-expanded': model.isNewCommentTextAreaExpanded
              }"
              class="comment-textarea-control custom-control expand"
              placeholder="Lägg till kommentar"
              (focus)="model.isNewCommentTextAreaExpanded = true"
            ></textarea>
          </div>
          <div class="col-xs-4" [hidden]="!model.isNewCommentTextAreaExpanded">
            <button
              class="input-group-addon n-main-btn n-white-btn"
              style="border-radius: 5px; display: block"
              [disabled]="!model.newCommentText"
              (click)="selectFileToAttach($event)"
            >
              Attach <span class="glyphicon glyphicon-paperclip"></span>
            </button>
            <span class="input-group-addon" *ngIf="model?.attachedFile">{{
              model.attachedFile.name
            }}</span>
            <button
              class="n-main-btn n-blue-btn"
              style="margin-top: 20px; padding: 8px 8px 5px 8px; display: block"
              [disabled]="!model.newCommentText"
              (click)="addComment($event)"
            >
              Add <span class="glyphicon glyphicon-comment"></span>
            </button>
          </div>
        </div>
      </form>
      <form #fileInputForm name="fileinputform" style="display: none">
        <input
          #fileInput
          type="file"
          id="file"
          name="file"
          style="display: none"
          (change)="onFileAttached($event)"
        />
      </form>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-2">Date</th>
        <th class="col-xs-8">Comment</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let c of model.comments">
        <tr>
          <td>
            <span
              *ngIf="!c.data.CustomerSecureMessageId || c.showDetails"
              [ngClass]="{
                'glyphicon-chevron-down': c.showDetails,
                'glyphicon-chevron-right': !c.showDetails
              }"
              class="glyphicon chevron-bg mr-1"
              (click)="toggleCommentDetails(c, $event)"
            ></span>
            <span
              *ngIf="c.data.CustomerSecureMessageId && !c.showDetails"
              style="margin-right: 10px"
              class="n-unlock"
              (click)="toggleCommentDetails(c, $event)"
              ><a href="#"
                ><span class="glyphicon glyphicon-chevron-right"></span
                ><span class="glyphicon glyphicon-lock"></span></a
            ></span>
            {{ c.data.CommentDate | date: "short" }}
          </td>
          <td>{{ c.data.CommentText }}</td>
        </tr>
        <tr class="opend" [hidden]="!c.showDetails">
          <td colspan="2">
            <ng-container *ngIf="!c.secureMessage">
              <div class="col-xs-6">
                <label class="col-xs-6 text-right">By</label>
                <div class="col-xs-6">
                  <p>
                    <b>{{ c.data.CommentByName }}</b>
                  </p>
                </div>
              </div>
              <div class="col-xs-6" *ngIf="c.data.AttachmentUrl">
                <label class="col-xs-6 text-right">File</label>
                <div class="col-xs-6">
                  <p>
                    <b>{{ c.data.AttachmentFilename }}</b>
                  </p>
                  <p>
                    <a
                      target="_blank"
                      class="n-direct-btn n-purple-btn"
                      [href]="c.data.AttachmentUrl"
                      >Document <span class="glyphicon glyphicon-save"></span
                    ></a>
                  </p>
                </div>
              </div>
              <div class="col-xs-6" *ngIf="c.data.DirectUrl">
                <label class="col-xs-6 text-right">Link</label>
                <div class="col-xs-6">
                  <p>
                    <a
                      target="_blank"
                      class="n-anchor"
                      [href]="c.data.DirectUrl"
                      >{{ c.data.DirectUrlShortName }}&nbsp;<span
                        class="glyphicon glyphicon-new-window"
                      ></span
                    ></a>
                  </p>
                </div>
              </div>
              <div class="col-xs-6" *ngIf="c.data.RequestIpAddress">
                <label class="col-xs-6 text-right">Ip address</label>
                <div class="col-xs-6">
                  <p>
                    <b>{{ c.data.RequestIpAddress }}</b>
                  </p>
                </div>
              </div>
            </ng-container>
            <ng-container
              *ngTemplateOutlet="
                secureMessageComment;
                context: { comment: c.secureMessage }
              "
            ></ng-container>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #secureMessageComment let-comment="comment">
  <ng-container *ngIf="comment">
    <div class="col-xs-9">
      <label class="col-xs-2 text-right">Message</label>
      <div class="col-xs-10">
        <p *ngIf="comment.format !== 'html'">
          <b>{{ comment.text }}</b>
        </p>
        <html-preview
          *ngIf="comment.format === 'html'"
          [content]="comment.text"
        >
        </html-preview>
      </div>
    </div>
    <div class="col-xs-3">
      <label class="col-xs-6 text-right">By</label>
      <div class="col-xs-6">
        <p>
          <b>{{ comment.isByCustomer ? "Customer" : "System" }}</b>
        </p>
      </div>
      <label *ngIf="comment.requestIpAddress" class="col-xs-6 text-right"
        >Ip address</label
      >
      <div *ngIf="comment.requestIpAddress" class="col-xs-6">
        <p>
          <b>{{ comment.requestIpAddress }}</b>
        </p>
      </div>
      <label *ngIf="comment.attachedDocumentUrl" class="col-xs-6 text-right"
        >Attachment</label
      >
      <div *ngIf="comment.attachedDocumentUrl" class="col-xs-6">
        <a
          target="_blank"
          class="n-direct-btn n-purple-btn"
          [href]="comment.attachedDocumentUrl"
          >Document <span class="glyphicon glyphicon-save"></span
        ></a>
      </div>
    </div>
  </ng-container>
</ng-template>
