<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="ntech.creditreport.logfolder" value="C:\Naktergal\BroccSe\NaktergalTemp\Logs\CreditReports" />

  <add key="ntech.machinesettingsfile" value="C:\Naktergal\BroccSe\StaticResources\ntech.machinesettings.config" />
</appSettings>