<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ntech.soliditetfi.customercode" value="balanzia" />
    <add key="ntech.soliditetfi.userid" value="BALANZIA" />
    <add key="ntech.soliditetfi.customerid" value="100620" />
    <add key="ntech.soliditetfi.endpointurl" value="http://test.soliditet.fi/frg/services/SoliditetHenkiloLuottoTiedot" />
    <add key="ntech.creditreport.testpersonsfileformat" value="json.v1" />
    <add key="ntech.creditreport.testpersonsfile"
         value="C:\Naktergal\FI-Staging\StaticResources\finnishTestPersons.json" />

    <!--<add key="ntech.satfi.hashkey" value="o6fZx5IM899RX7xE7W9r2SGVvts2OLrI25k9Xs83IjXZhEEfv2nT0DZ264WSMVhq" />
    <add key="ntech.satfi.password" value="tbHnXQd6" />
    <add key="ntech.satfi.userid" value="376441000011" />-->

    <add key="ntech.satficreditreport.hashkey" value="o6fZx5IM899RX7xE7W9r2SGVvts2OLrI25k9Xs83IjXZhEEfv2nT0DZ264WSMVhq" />
    <add key="ntech.satficreditreport.endpointurl" value="https://demo.asiakastieto.fi" />
    <add key="ntech.satficreditreport.password" value="tbHnXQd6" />
    <add key="ntech.satficreditreport.userid" value="376441000011" />
    <add key="ntech.creditreport.logfolder" value="C:\Naktergal\FI-Staging\NaktergalTemp\Logs\creditreport" />
    <add key="ntech.machinesettingsfile" value="C:\Naktergal\FI-Staging\StaticResources\ntech.machinesettings.config" />
</appSettings>