<div class="amort-plan" *ngIf="m">
    <div class="amort-header">
        <div class="amort-header-form-item">
            <span class="amort-header-form-item-label">Betalningar kvar</span>
            <span class="amort-header-form-item-value">{{m.futureTransactions.length}}</span>
        </div>
        <div class="amort-header-form-item" *ngIf="!m.singlePaymentLoanRepaymentDays">
            <span class="amort-header-form-item-label">Månadskostnad</span>
            <span class="amort-header-form-item-value">{{m.annuityAmount | currency}}</span>
        </div>
        <div class="amort-header-text">
            <p *ngIf="!m.singlePaymentLoanRepaymentDays">Återkommande avgifter, såsom exempelvis påminnelseavgift eller aviavgift återkopplas inte i amorteringsplanen eller månadsbeloppet.</p>
            <p *ngIf="m.singlePaymentLoanRepaymentDays">Avgifter annat än uppläggningsavgift, såsom exempelvis påminnelseavgift och aviavgift återkopplas inte i amorteringsplanen eller månadsbeloppet.</p>
            <p *ngIf="!m.singlePaymentLoanRepaymentDays">En extra amortering kan komma att påverka återbetalningstiden.</p>
        </div>
    </div>
    <div class="amort-months">
        <div class="amort-months-h">
            <span>Förfallodag</span>
            <span>Månadsbelopp</span>
        </div>
        <ng-container *ngFor="let t of getVisibleTransactions()">
            <div class="amort-months-r" (click)="toggleTransactionDetails(t, $event)" [ngClass]="{ 'amort-months-r-expanded' : t.isExpanded }">
                <span class="amort-months-r-date">{{t.FutureItemDueDate | date:'yyyy-MM-dd'}}</span>
                <span>{{t.capitalAndInterestTransaction + t.InitialFeeTransaction | currency }}</span>
                <span class="amort-months-r-toggle">
                    <span class="glyphicon" [ngClass]="{ 'glyphicon-chevron-down' : t.isExpanded, 'glyphicon-plus' : !t.isExpanded }"></span>
                </span>
            </div>
            <div class="amort-months-details" *ngIf="t.isExpanded">
                <div>
                    <span class="amort-months-details-label">Ränta</span>
                    <span class="amort-months-details-value">{{t.InterestTransaction | currency }}</span>
                </div>
                <div>
                    <span class="amort-months-details-label">Kapital</span>
                    <span class="amort-months-details-value">{{t.CapitalTransaction | currency }}</span>
                </div>
                <div *ngIf="t.InitialFeeTransaction">
                    <span class="amort-months-details-label">Uppläggningsavgift</span>
                    <span class="amort-months-details-value">{{t.InitialFeeTransaction | currency }}</span>
                </div>
                <div>
                    <span class="amort-months-details-label">Kapitalskuld</span>
                    <span class="amort-months-details-value">{{t.CapitalBefore | currency }}</span>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="amort-pager">
        <a *ngIf="hasMoreTransactions()" href="" class="n-anchor" (click)="showMoreTransactions(m, $event)">Visa fler</a>
    </div>
</div>