<div *ngIf="m">

    <div class="pb-3">
        <div class="form-horizontal" *ngIf="m.application.getUniqueCurrentCreditDecisionItem('isOffer') === 'false'">
            <div class="form-group">
                <label class="col-xs-3 control-label">Reasons</label>
                <div class="col-xs-9 form-control-static">
                    <span *ngFor="let reasonText of m.application.getRepeatableCurrentCreditDecisionItem('rejectionReasonText') ; first as isFirst"><span *ngIf="!isFirst">, </span>{{reasonText}}</span>
                </div>
            </div>
        </div>

        <div class="form-horizontal" *ngIf="m.application.getUniqueCurrentCreditDecisionItem('isOffer') === 'true'">
            <div class="col-xs-6">
                <div class="form-group" *ngIf="config.isFeatureEnabled('ntech.feature.standard.withheldInitialFee')">
                    <label class="col-xs-6 control-label">Initial fee withheld</label>
                    <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('initialFeeWithheldAmount') | number:'1.0-2'}}</div>
                </div>
                <div class="form-group">
                    <label class="col-xs-6 control-label">Customer payment</label>
                    <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('paidToCustomerAmount') | number:'1.0-2'}}</div>
                </div>
                <div class="form-group">
                    <label class="col-xs-6 control-label">Settlement payment</label>
                    <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('loansToSettleAmount') | number:'1.0-2'}}</div>
                </div>
                <div class="form-group">
                    <label class="col-xs-6 control-label">Loan amount</label>
                    <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('loanAmount') | number:'1.0-2'}}</div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group" *ngIf="config.isFeatureEnabled('ntech.feature.standard.capitalizedInitialFee')">
                    <label class="col-xs-6 control-label">Initial fee capitalized</label>
                    <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('initialFeeCapitalizedAmount') | number:'1.0-2'}}</div>
                </div>
                <div class="form-group">
                    <label class="col-xs-6 control-label">Repayment time</label>
                    <ng-container *ngIf="!m.application.getUniqueCurrentCreditDecisionItem('singlePaymentLoanRepaymentTimeInDays')">
                        <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('repaymentTimeInMonths') | number:'1.0-0'}} months</div>
                    </ng-container>
                    <ng-container *ngIf="m.application.getUniqueCurrentCreditDecisionItem('singlePaymentLoanRepaymentTimeInDays')">
                        <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('singlePaymentLoanRepaymentTimeInDays') | number:'1.0-0'}} days</div>
                    </ng-container>                    
                </div>
                <div class="form-group">
                    <label class="col-xs-6 control-label">Notification fee</label>
                    <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('notificationFeeAmount') | number:'1.0-2'}}</div>
                </div>
                <div class="form-group">
                    <label class="col-xs-6 control-label">Margin interest rate</label>
                    <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('marginInterestRatePercent') | number:'1.2-2'}} %</div>
                </div>
                <ng-container *ngIf="m.firstNotificationCost">
                    <div class="form-group">
                        <label class="col-xs-6 control-label">On first notification</label>
                        <div class="col-xs-6 form-control-static">&nbsp;</div>
                    </div>
                    <div class="form-group" *ngFor="let c of m.firstNotificationCost.costs">
                        <label class="col-xs-6 control-label">{{c.text}}</label>
                        <div class="col-xs-6 form-control-static">{{c.amount | number:'1.0-2'}}</div>
                    </div>                                    
                </ng-container>                
                <div class="form-group">
                    <label class="col-xs-6 control-label">Reference interest rate</label>
                    <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('referenceInterestRatePercent') | number:'1.2-2'}} %</div>
                </div>
                <div class="form-group">
                    <label class="col-xs-6 control-label">Total interest rate</label>
                    <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('totalInterestRatePercent') | number:'1.2-2'}} %</div>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr class="hr-section custom-line" />
            <div class="col-xs-6">
                <div class="form-group" *ngIf="m.application.getUniqueCurrentCreditDecisionItem('annuityAmount')">
                    <label class="col-xs-6 control-label">Annuity amount</label>
                    <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('annuityAmount') | number:'1.2-2'}}</div>
                </div>
                <div class="form-group">
                    <label class="col-xs-6 control-label">Total paid amount</label>
                    <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('totalPaidAmount') | number:'1.2-2'}}</div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-6 control-label">Effective interest rate</label>
                    <div class="col-xs-6 form-control-static">{{m.application.getUniqueCurrentCreditDecisionItem('effectiveInterestRatePercent')  | number:'1.2-4'}} %</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
