<connectionStrings>
  <add name="CreditContext"
        providerName="System.Data.SqlClient"
         connectionString="Initial Catalog=Brocc-FI-Credit-Prod;Server=staging.ctt75ykgxye4.eu-north-1.rds.amazonaws.com;Encrypt=false;User=admin;Password=]p*g37S3!vGOPzhUMaZ7pfpzchxs#&amp;C7" />
</connectionStrings>