<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="ntech.email.provider" value="InMemoryTestList"/>
  <add key="ntech.email.testemail" value="testemail@naktergaltech.se"/>

  <add key="ntech.kycscreen.reportemail" value="foretagslan@balanzia.se"/>
  <add key="ntech.credit.settlementbalancelimit" value="300"/>
  <add key="ntech.credit.outgoingpayments.customermessagepattern" value="{eventName} {contextNumber}" />
  <add key="ntech.credit.creditreportprovider" value="UcSe" />

  <add key="ntech.machinesettingsfile" value="C:\Naktergal\FI-Staging\StaticResources\ntech.machinesettings.config" />
  <add key="ntech.credit.bookkeepingfile.exportprofile" value="CreditBookKeepingFilesShare" />
</appSettings>