@using NWebsec.Mvc.HttpHeaders.Csp
@{
    ViewBag.Title = "nTest - Custom application";
    ViewBag.AngularDeclaration = "ng-app=\"app\" ng-controller=\"ctr\" ng-cloak";
    ViewBag.LoaderDeclaration = "ng-show=\"isLoading\"";
}

@section Scripts {
    <script @Html.CspScriptNonce()>
        var initialData = JSON.parse(atob('@Html.Raw(ViewBag.JsonInitialData)'))
    </script>
    @Scripts.Render("~/Content/js/bundle-main-addcustomapplication")
}
<div class="pb-2"><a class="n-back" href="@(new Uri(NEnv.ServiceRegistry.External["nTest"]).ToString())"><span class="glyphicon glyphicon-arrow-left"></span></a></div>
<div class="row">
    <div class="col-sm-7">
        <div ng-if="state=='initial'">
            <h1>Custom application <button type="submit" class="btn btn-default pull-right" ng-click="submitInitial($event)">Next>></button><span class="clearfix"></span></h1>

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Applicant 1</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="initial.applicant1">
                            <option value="New">New</option>
                            <option value="Existing">Existing</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Applicant 2</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="initial.applicant2">
                            <option value="None">None</option>
                            <option value="New">New</option>
                            <option value="Existing">Existing</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Scoring</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="initial.scoring">
                            <option value="Accepted">Accepted</option>
                            <option value="Rejected">Rejected</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Provider</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="initial.providerName">
                            <option ng-repeat="p in providerNames" value="{{p}}">{{p}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Additional questions</label>
                    <div class="col-sm-8">
                        <select class="form-control" ng-model="initial.includeAdditionalQuestionFields">
                            <option value="No">Normal (asked for after credit check accepted)</option>
                            <option value="Yes">Include fields in application</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>

        <div ng-if="state=='applicants'">
            <h1>Applicants<button type="submit" class="btn btn-default pull-right" ng-click="submitApplicants($event)">Next>></button><span class="clearfix"></span></h1>
            <div ng-if="applicants.newApplicant1">
                <h2>New Applicant 1</h2>
                <angular-jsoneditor ng-model="applicants.newApplicant1.data" options="{mode : 'tree', modes: ['code', 'tree']}" style="width: 100%; height: 400px;"></angular-jsoneditor>
            </div>
            <div ng-if="applicants.newApplicant2">
                <h2>New Applicant 2</h2>
                <angular-jsoneditor ng-model="applicants.newApplicant2.data" options="{mode : 'tree', modes: ['code', 'tree']}" style="width: 100%; height: 400px;"></angular-jsoneditor>
            </div>
            <div ng-if="applicants.existingApplicant1">
                <h2>Existing Applicant 1</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Civic regnr</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="applicants.existingApplicant1.civicRegNr" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div ng-if="applicants.existingApplicant2">
                <h2>Existing Applicant 2</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Civic regnr</label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="applicants.existingApplicant2.civicRegNr" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" ng-click="submitApplicants($event)">Next>></button>
                </div>
            </div>
        </div>

        <div ng-if="state === 'application'">
            <h1>Application<button type="submit" class="btn btn-primary pull-right" ng-click="submitApplication($event)">Send application</button><span class="clearfix"></span></h1>

            <div>
                <angular-jsoneditor ng-model="application.application.data" options="{mode : 'tree', modes: ['code', 'tree']}" style="width: 100%; height: 400px;"></angular-jsoneditor>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div ng-if="history && history.items.length > 0">
            <h1>History</h1>
            <div ng-repeat="h in history.items track by $index" style="border: dashed 1px black; margin-bottom: 5px; padding:3px">
                <div class="panel panel-default">
                    <div class="panel-heading" style="min-height:35px">
                        <span><a ng-show="h.applicationNr" ng-href="{{applicationUrlPrefix + h.applicationNr}}" target="_blank">Application {{h.applicationNr}}</a></span>
                        <span class="pull-right">{{h.date}}</span>
                    </div>
                    <div class="panel-body">
                        <ul style="clear:both">
                            <li>Applicant 1: {{h.applicant1CivicRegNr}}</li>
                            <li ng-if="h.applicant2CivicRegNr">Applicant 2: {{h.applicant2CivicRegNr}}</li>
                            <li>Scoring: {{h.scoring}}</li>
                        </ul>
                        <h4>Call log</h4>
                        <p ng-repeat="r in h.callLog track by $index">{{r}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>