<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- telemetry settings likely not needed since moved to host -->
  <add key="ntech.telemetry.azuresasurlfile" value="C:\Naktergal\FI-Staging\StaticResources\telemetrySasToken.txt" />
  <add key="ntech.telemetry.environmentname" value="test" />
  <add key="ntech.machinesettingsfile" value="C:\Naktergal\FI-Staging\StaticResources\ntech.machinesettings.config" />

</appSettings>