<div *ngIf="m">
  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-3">Control</th>
        <th class="col-xs-1">Status</th>
        <th class="col-xs-8 text-right"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let control of m.documentControls">
        <td>{{ control.displayName }} is verified</td>
        <td><status-icon [isAccepted]="control.isVerified"></status-icon></td>
        <td class="text-right">
          <a
            [routerLink]="[
              '/mortgage-loan-application/documents',
              this.m.application.applicationNr
            ]"
            class="n-anchor"
            >View Details</a
          >
        </td>
      </tr>
      <tr>
        <td>Ownership and right of possession</td>
        <td>
          <status-icon [isAccepted]="m.isOwnershipCheckApproved"></status-icon>
        </td>
        <td class="text-right">
          <a
            [routerLink]="[
              '/mortgage-loan-application/ownership-and-possession',
              this.m.application.applicationNr
            ]"
            class="n-anchor"
            >View Details</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="m.isPossibleToApprove">
    <div class="pt-3">
      <label class="pr-2">Not approved</label>
      <ntech-toggle (requestToggle)="approve()"></ntech-toggle>
    </div>
  </div>

  <div *ngIf="m.isPossibleToRevert">
    <div class="pt-3">
      <label class="pr-2">Approved</label>
      <ntech-toggle
        [isToggled]="true"
        (requestToggle)="revert()"
      ></ntech-toggle>
    </div>
  </div>
</div>
