@using NWebsec.Mvc.HttpHeaders.Csp
@{
    ViewBag.Title = "Credit - EInvoice Messages - Import File";
    ViewBag.AngularDeclaration = "ng-app=\"app\" ng-controller=\"importIncomingMessageFileCtrl as c\" id=\"importfileApp\" ng-cloak";
    ViewBag.LoaderDeclaration = "ng-show=\"c.isLoading\"";
}

@section Scripts {
    <script @Html.CspScriptNonce()>
          var initialData = JSON.parse(atob('@Html.Raw(ViewBag.JsonInitialData)'))
    </script>
    @Scripts.Render("~/Content/js/bundle-einvoicefi-importmessagefile")
}

<div class="pt-1 pb-2">
    <div class="pull-left"><a class="n-back" href="@(new Uri(NEnv.ServiceRegistry.External["nBackoffice"]).ToString())"><span class="glyphicon glyphicon-arrow-left"></span></a></div>
    <h1 class="adjusted">Import incoming e-invoice message file</h1>
</div>

<div class="row pt-3" ng-hide="c.candidateFile || c.resultMessage">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="editblock">
            <form novalidate class="form-inline" name="fileform" id="fileform">
                <div class="row">
                    <div class="input-group col-sm-6 col-sm-offset-2">
                        <span class="input-group-addon btn btn-grey" ng-click="c.selectFile($event)">
                            <span class="glyphicon glyphicon-paperclip"></span>
                            <span class="glyphicon-class">Select file</span>
                        </span>
                        <input type="file" id="file" name="file" style="display:none" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row pt-3" ng-show="c.candidateFile && !c.resultMessage">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="frame">
            <div class="row">
                <div class="col-sm-6 text-right">File</div>
                <div class="col-sm-6"><b>{{c.candidateFile.filename}}</b></div>
            </div>
            <div class="pt-3">
                <div class="text-center">
                    <button class="n-main-btn n-blue-btn" ng-click="c.importFile($event)">Import</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="no-hits text-center pt-3" ng-show="c.resultMessage">
    <p>{{c.resultMessage}}</p>
    <div ng-if="c.processResult">
        <h2>Process count by code</h2>
        <p ng-repeat="i in c.processResult.processedCountByCode">
            {{i.code}}: {{i.count}}
        </p>
    </div>
</div>