.party-editblock {
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.creditors-form {
  display: flex;
  gap: 10px;
  flex-direction: column;

  .creditor-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1.5px dotted #bbbbbb;
    padding-bottom: 10px;
  }

  .remove-btn-container {
    min-width: 50px;
    display: flex;
    justify-content: flex-end;
    btn {
      margin-right: 5px;
      margin-top: 2px;
    }
  }
}
