<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="ntech.savings.incomingpayments.depositsgraceperiodindays" value="7"/>
  <add key="ntech.kycscreen.reportemail" value="lainat@balanzia.fi"/>
  <add key="ntech.savings.depositsiban" value="FI9881799710046607"/>
  <add key="ntech.savings.outgoingpaymentiban" value="FI9881799710046607"/>  
  <add key="ntech.savings.outgoingpayments.bank" value="danskebankfi"/>
  <add key="ntech.savings.outgoingpayments.danskebankfi.fileformat" value="pain.001.001.03"/>
  <add key="ntech.savings.outgoingpayments.danskebankfi.sendingcompanyid" value="027603573"/>
  <add key="ntech.savings.outgoingpayments.danskebankfi.sendingcompanyname" value="GCC Capital AB, filial i Finland"/>
  <add key="ntech.savings.outgoingpayments.danskebankfi.sendingbankbic" value="DABAFIHH"/>
  <add key="ntech.savings.outgoingpayments.danskebankfi.sendingbankname" value="Danske Bank"/>
  <add key="ntech.savings.outgoingpayments.customermessagepattern" value="{eventName} Brocc {contextNumber}" />
  <add key="ntech.savings.bookkeeping.siefileending" value="sie" />  
  
  <add key="ntech.performancelog.enabled" value="false"/>
  <add key="ntech.savings.addressprovider" value="BisnodeFi" />
  <!--add key="ntech.trapetsamlreporting.exportprofile" value="TrapetsFtpProduction" /-->
  <add key="ntech.machinesettingsfile" value="C:\Naktergal\FI-Staging\StaticResources\ntech.machinesettings.config" />
  <add key="ntech.savings.bookkeepingfile.exportprofile" value="SavingsBookKeepingFilesShare" />
</appSettings>