<a class="item mobile" href="@Url.Action("Logout", "Common")"><span translate="logout">Logga ut</span></a>
<span class="desktop">
    <a href="@Url.Action("Logout", "Common")" class="item logout-link"><span translate="logout">Logga ut</span></a>
</span>
