<div *ngIf="m">
    <credit-check-decision-editor *ngIf="m.isNewCreditCheck && m.decisionEditorInitialData"
        [initialData]="m.decisionEditorInitialData"></credit-check-decision-editor>
    <credit-check-decision-view *ngIf="!m.isNewCreditCheck" [application]="m.application"></credit-check-decision-view>

    <h2 class="custom-header">Decision basis</h2>
    <hr class="hr-section custom-line mt-0" />

    <div class="row pt-1">
        <div class="col-xs-8">
            <application-basis [initialData]="m.applicationBasisInitialData"></application-basis>
        </div>
        <div class="col-xs-4">
            <div>
                <application-policy-info [initialData]="m.policyInfoInitialData"></application-policy-info>
            </div>
            <div class="pt-3">
                <application-creditreports [initialData]="m.creditReportInitialData"></application-creditreports>
            </div>
            <ng-container *ngIf="m.sharedBankDataInitialData">
                <application-shared-bankdata [initialData]="m.sharedBankDataInitialData"></application-shared-bankdata>
            </ng-container>
        </div>
    </div>
    <test-functions-popup [model]="m.testFunctions"></test-functions-popup>
</div>