<div class="wrapper" [class.wide-navigation]="initialData.wideNavigation">
    <div class="navigation">
        <div class="content-position">
            <div class="branding">
                <a class="navbar-brand" [routerLink]="initialData.logoRouterLink">
                    <img *ngIf="!config.config()?.Skinning" src="assets/img/menu-header-logo.png"/>
                    <img *ngIf="!!config.config()?.Skinning" [src]="config.config()?.Skinning?.LogoUrl"/>
                </a>
            </div>
            <div class="navigation-right">
                <ng-content select="[navigation-area]"></ng-content>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div [ngClass]="{ 'container-fluid': !initialData?.skipBodyLayout, 'body-content': !initialData?.skipBodyLayout }">
        <ng-content select="[shell-body]"></ng-content>
        <div class="loading" *ngIf="isLoading.value">Loading&#8230;</div>
        <div *ngIf="config.isNTechTest() && initialData?.test">
            <div class="test-popup-frame test-popup-position" *ngIf="isTestPopupVisible">
                <div class="pt-1">
                    <ul class="list-unstyled">
                        <li class="pb-1">
                            <button *ngFor="let f of initialData?.test.functionCalls" target="_blank" class="btn btn-primary" (click)="executeTestFunction(f, $event)">{{f.displayText}}</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="test-popup-button-position">
                <button class="btn btn-default" [ngClass]="{ 'test-popup-toned-down' : !isTestPopupVisible }" (click)="$event.preventDefault();isTestPopupVisible = !isTestPopupVisible"><span class="glyphicon glyphicon-sort"></span></button>
            </div>
        </div>
    </div>
</div>