.terms-box {
    background-color: #023365;
    color: white;
    border-radius: 6px;
    padding: 12px;
    margin-top: 30px;
}

.highcost-image-container {
    max-width: 100px;
    max-height: 100px;
    img {
        height:auto;
        width:100%;
    }
}