<application-template>
    <form [formGroup]="form">
        
        <div class="pb-5 movein">
            <label class="custom-label">Har företaget några andra skulder till kreditinstitut i dagsläget?</label>    
            <div>
                <label class="custom-radio">
                    <input type="radio" formControlName="hasLoans" value="yes">
                    Ja
                </label>
            </div>
            <div>
                <label class="custom-radio">
                    <input type="radio" formControlName="hasLoans" value="no">
                    Nej
                </label>
            </div>    
        </div>        

        <forward-back-buttons></forward-back-buttons>
    </form>
</application-template>