@{
    Layout = null;
}

<script type="text/ng-template" id="application-data-editor.html">
    <div>
        <div class="pt-1 pb-2">
            <div class="pull-left"><a href="#" ng-click="$ctrl.onBack($event)" class="n-back"><span class="glyphicon glyphicon-arrow-left"></span></a></div>
            <h1 class="adjusted">{{$ctrl.isReadOnly() ? 'View' : 'Edit'}} Value</h1>
        </div>

        <div class="row pb-3">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="editblock">
                    <application-editor initial-data="$ctrl.m.EditorInitialData"></application-editor>
                </div>
            </div>
        </div>

        <div class="row pt-3" ng-if="$ctrl.m.HistoricalChanges">
            <div class="col-xs-10 col-sm-offset-1">
                <h2>History</h2>
                <hr class="hr-section" />
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>From</th>
                            <th class="text-right">By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="h in $ctrl.m.HistoricalChanges">
                            <td class="col-sm-2">{{h.Date | date:'short'}}</td>
                            <td class="col-sm-7">{{$ctrl.parseHistoryValue(h.FromValue)}}</td>
                            <td class="col-sm-3 text-right">{{$ctrl.getUserDisplayName(h.UserId)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>