<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="ntech.customerpages.penaltyfees" value="2.5" />
  <add key="ntech.customerpages.systemuser.username" value="customerpages1" />
  <add key="ntech.customerpages.systemuser.password" value="0923fmruj8f1e!!55fjw9e0fj430tcxXSS." />
  <add key="ntech.skinning.enabled" value="true"/>
  <add key="ntech.performancelog.enabled" value="true"/>  
  <add key="ntech.customerpages.allowsignicateidlogin" value="true" />    
  <add key="ntech.customerpages.signatures.forcesignicat" value="true" />
  <add key="ntech.machinesettingsfile" value="C:\Naktergal\FI-Staging\StaticResources\ntech.machinesettings.config" />

  <add key="ntech.credit.testing.overridedatefile" value="C:\Naktergal\FI-Staging\NaktergalTemp\TestOverrideDate.txt" />
</appSettings>