@using NWebsec.Mvc.HttpHeaders.Csp
@{
    ViewBag.Title = "Riksgalden";
    ViewBag.AngularDeclaration = "ng-app=\"app\" ng-controller=\"riksgaldenCtrl as c\" ng-cloak";
    ViewBag.LoaderDeclaration = "ng-show=\"c.isLoading\"";
}

@section Scripts {
    <script @Html.CspScriptNonce()>
        var initialData = JSON.parse(atob('@Html.Raw(ViewBag.JsonInitialData)'))
    </script>
    @Scripts.Render("~/Content/js/bundle-riksgalden-index")
}

<div class="pt-1 pb-2">
    <div class="pull-left"><a class="n-back" href="@(new Uri(NEnv.ServiceRegistry.External["nBackoffice"]).ToString())"><span class="glyphicon glyphicon-arrow-left"></span></a></div>
    <h1 class="adjusted">Riksgälden - Insättningsgaranti</h1>
</div>

<div class="row">
    <div class="col-xs-8">
        <div class="pb-3">
            <h2 class="custom-header">First file (day 1)</h2>
            <hr class="hr-section" />
            <form name="dateOnlyForm">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="#" class="n-direct-btn n-purple-btn" target="_blank" ng-href="{{c.getFirstFileUrl()}}">Download <span class="glyphicon glyphicon-save"></span></a>
                    </div>
                </div>
            </form>
        </div>

        <div class="pt-3">
            <h2 class="custom-header">Second file (day 4)</h2>
            <hr class="hr-section" />
            <p>The last event id can be found in the filename of the day 1 file.</p>
            <p>For example if the file is named  Riksgalden_FirstFile_20180319124558_LastEventId_56432.zip you should enter 56432.</p>
            <div class="row">
                <div class="col-xs-6">
                    <div class="editblock">
                        <form name="f">
                            <div>
                                <label>Last Event Id</label>
                                <input ng-model="c.maxBusinessEventId" required class="form-control" placeholder="Id from first file">
                            </div>
                            <div class="pt-2">
                                <a href="#" class="n-direct-btn n-purple-btn" ng-disabled="!c.maxBusinessEventId" target="_blank" ng-href="{{c.getSecondFileUrl()}}">Download <span class="glyphicon glyphicon-save"></span></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
        <div class="pt-3">
            <div class="frame">
                <h2 class="custom-header">Settings</h2>
                <p>For production this should be left as the default.</p>
                <p>For testing, or if for some reason the production export doesnt work properly, use the compress only option as fallback and do the real compression and encryption step manually.</p>
                <select ng-model="c.alsoEncryptAndSign" class="form-control">
                    <option value="True">Compress (7-zip) and encrypt</option>
                    <option value="False">Compress only (zip)</option>
                </select>
            </div>
        </div>
    </div>
</div>