@{
    ViewBag.Title = "Logged out";
}

@section Scripts {
    @Scripts.Render("~/Content/js/bundle-base")
}

<p>You have been logged out.</p>
<p>If you did not trigger this yourself your session expired.</p>