
<script type="text/ng-template" id="customer.html">
    <div ng-repeat="c in n.customers">
        <customerinfo customer="c.customerinfo" fetchcustomeritems="n.fetchcustomeritems"></customerinfo>
        <hr />
    </div>
</script>