<div>
  <div class="row">
    <div class="col-xs-2">
      <div class="custom-submenu">
        <ul class="nav nav-pills nav-stacked">
          <li [ngClass]="{ active: m?.activeItemName === 'unread' }">
            <a [routerLink]="['/secure-messages/list']">Unhandled messages</a>
          </li>
          <li [ngClass]="{ active: m?.activeItemName === 'create' }">
            <a [routerLink]="['/secure-messages/create']">Create messages</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-10">
      <div>
        <ng-content select="[right-content]"></ng-content>
      </div>
    </div>
  </div>
</div>
