<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Add your application settings here -->
		<add key="Setting1" value="Value1" />
	</appSettings>
	<connectionStrings>
		<!-- Add your connection strings here -->
		<add name="DB_Todo" connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
	</startup>
	<runtime>
		<!-- Additional runtime settings can go here -->
	</runtime>
</configuration>