<application-template>
    <form [formGroup]="form">
        <div class="pb-5 movein">
            <label class="custom-label" [translate]="'steps.marriage.header'">Vad är ditt civilstånd?</label>
            <div *ngFor="let h of marriageModels">
                <label class="custom-radio" [class.active]="h.code === form.value.marriage">
                    <input type="radio" formControlName="marriage" value="{{h.code}}">
                    {{h.translationCode | translate}}
                </label>
            </div>
        </div>
        <forward-back-buttons></forward-back-buttons>
    </form>
</application-template>