@{
    ViewBag.AngularDeclaration = "ng-app=\"app\" ng-cloak translate-cloak";

}

@section Scripts {
    <script>
        initialData = parseUtf8Base64InitialData('@Html.Raw(ViewBag.JsonInitialData)')
    </script>
    @Scripts.Render("~/Content/js/bundle-angular-translateonly")
}

<div class="content">
    <div class="vh-50">
        <div class="aligned-center">
            @if (!ViewBag.IsTokenExpired)
            {
                <p translate="AccessDenied_generalmessage"/>
            }
            @if (ViewBag.IsTokenExpired)
            {
                <p translate="AccessDenied_tokenexpiredmessage"/>

            }
            @if (ViewBag.ShowLogin)
            {
                <form name="fc" novalidate method="post" action="@Url.Action("LoginWithEidSignature", "EidSignatureLogin")?targetName=@ViewBag.EidSignatureCustomerTarget" ng-submit="onSubmit($event)">
                    <div class="pt-2 text-center">
                        <button type="submit" class="n-main-btn n-green-btn" translate="eidlogin_login">Logga in</button>
                    </div>
                </form>
            }
        </div>
    </div>

    <!-- This is a hack to help detect access denied redirects from angular json posts. Make sure the guid below is somewhere in the new html if this page is changed -->
    <input type="hidden" name="accessdenieddetectionhelper" value="a0f9a6b5-3101-4bce-a0ca-39b9ddf01d09" />
</div>
<div class="clearfix"></div>

