@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <div>
        <h1>Internal Error</h1>
        <p>An error has occured, please contact support if it doesn't resolve by retrying.</p>
    </div>
</body>
</html>