<div class="row" *ngIf="m">
    <form name="debtCollectionSearchForm">
      <div class="col-xs-12 col-sm-7 col-md-7">
          <div class="row">
              <div class="col-sm-7 col-md-7">
                  <div class="relative">
                      <span class="glyphicon glyphicon-search"></span>
                      <input type="text" name="debtCollectionSearch" class="form-control search" [(ngModel)]="m.searchValue" placeholder="Civic regnr/credit nr" />
                  </div>
              </div>
              <div class="col-sm-5 col-md-5" *ngIf="m?.searchValue">
                    <button type="button" class="n-icon-btn n-white-btn" (click)="clearSearch($event)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="submit" class="n-main-btn n-blue-btn" (click)="gotoPage(0, m.searchValue)">
                        Search
                    </button>
              </div>
          </div>
      </div>
    </form>
</div>

<div class="row pt-3" *ngIf="m?.totalNrOfPages === 0">
    <div class="col-xs-2 no-hits">
        <p>No hits.</p>
    </div>
</div>
<div class="pt-3" *ngIf="m?.totalNrOfPages > 0">
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-1">Loan nr</th>
                <th class="col-xs-1 text-center"><span class="perferi">Overdue</span> count</th>
                <th class="col-xs-1 text-center"><span class="perferi">Overdue</span> # days</th>
                <th class="col-xs-2"><span class="perferi">Overdue</span> balance</th>
                <th class="col-xs-4">Attention</th>
                <th class="col-xs-2">State</th>
                <th class="col-xs-1 text-right"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dc of m.debtCollections">
                <td><a class="n-anchor" [href]="dc.CreditUrl" target="_blank">{{dc.CreditNr}} <span class="glyphicon glyphicon-new-window"></span></a></td>
                <td class="text-center">{{dc.NrUnpaidOverdueNotifications}}</td>
                <td class="text-center">{{dc.NrOfDaysOverdue}}</td>
                <td>{{dc.BalanceUnpaidOverdueNotifications | number: '1.2-2'}} / {{dc.InitialUnpaidOverdueNotifications | number: '1.2-2'}} ({{(100 * dc.FractionBalanceUnpaidOverdueNotifications) | number: '1.0-0'}}%)</td>
                <td>
                    <span *ngIf="dc.AttentionLatestPaymentDateAfterTerminationLetterDueDate">New payment placed {{dc.AttentionLatestPaymentDateAfterTerminationLetterDueDate  | date:'shortDate'}}&nbsp;</span>
                    <span *ngIf="dc.AttentionWasPostponedUntilDate">Was recently postponed {{dc.AttentionWasPostponedUntilDate  | date:'shortDate'}}&nbsp;</span>
                    <span *ngIf="dc.AttentionSettlementOfferDate">Expected settlement date {{dc.AttentionSettlementOfferDate | date:'shortDate'}}.&nbsp;</span>
                </td>
                <td class="space-between-spans">
                    <span *ngFor="let stateText of dc.stateTexts">{{stateText}}</span>
                </td>
                <td class="text-right">
                    <label class="n-toggle" *ngIf="dc.IsEligableForDebtCollectionExportExceptDate">
                        <input type="checkbox" checked="checked" (click)="postponeOrResume(dc, true, $event)" />
                        <span class="n-slider"></span>
                    </label>
                    <label class="n-toggle" *ngIf="!dc.IsEligableForDebtCollectionExportExceptDate && dc.ActivePostponedUntilDate">
                        <input type="checkbox" (click)="postponeOrResume(dc, false, $event)" />
                        <span class="n-slider"></span>
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div *ngIf="m?.totalNrOfPages > 1">
    <div class="dataTables_paginate paging_simple_numbers custom-pagination">
      <ul class="pagination">
          <li class="paginate_button previous" *ngIf="m.currentPageNr > 0"><a (click)="gotoPage(m.currentPageNr - 1)">Previous</a></li>
          <li class="paginate_button previous disabled" *ngIf="m.currentPageNr <= 0"><a (click)="$event.preventDefault()">Previous</a></li>
          <li *ngFor="let item of [].constructor(m.totalNrOfPages); let pageNr = index" class="paginate_button" [class]="{ 'active' : m.currentPageNr === pageNr }">
              <a (click)="gotoPage(pageNr)" *ngIf="m.currentPageNr !== pageNr">{{pageNr + 1}}</a>
              <a *ngIf="m.currentPageNr === pageNr">{{pageNr + 1}}</a>
          </li>
          <li class="paginate_button next" *ngIf="m.totalNrOfPages > (m.currentPageNr + 1)"><a (click)="gotoPage(m.currentPageNr + 1)">Next</a></li>
          <li class="paginate_button next disabled" *ngIf="m.totalNrOfPages === (m.currentPageNr + 1)"><a (click)="$event.preventDefault()">Next</a></li>
      </ul>
    </div>
</div>
