[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

html {
    overflow-y: scroll;
}

body {
    font-size: 16px;    
}

.wrapper {
    min-height: 90vh;
    background-color: #fff;
    min-height: 70vh;
}

.body-content {
    position: relative;
    max-width: 1400px;
    margin: auto;
    min-height: 70vh;
}

.content {
    padding: 40px 40px 100px 40px;
    max-width: 1400px;
    margin: auto;
}

.navigation {
    border-radius: 0px;
    margin: auto;
    background-color: #fff;
    border-bottom: 2px solid #E6E6E6;
    position: relative;
}

.navigation .content-position {
    max-width: 1400px;
    margin: auto;
    padding: 0px 40px;
}

.branding {
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
}

.navigation-right {
    float: right;
    padding: 11px 40px 0px 0px;
    margin-top: 10px;
    color: #ffffff;
}

ul.navigation-list li {
    display: inline;
}

.copyable {
    -webkit-user-select: all; /* Chrome 49+ */
    -moz-user-select: all; /* Firefox 43+ */
    -ms-user-select: all; /* No support yet */
    user-select: all;
}

.logout-link {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    color: #000;
    padding: 12px 20px;
    font-size: 14px;
    border: 2px solid #000;
}

/*.logout-link img{
    height: 20px;
}*/

    .logout-link:hover,
    .logout-link:focus {
        text-decoration: none;
        border-color: #F9B013;
        color: #F9B013!important;
    }

.miniture .item:hover {
    cursor: pointer;
}

/*product box*/
.product-box {
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
    border-top: 0.5px solid #ededed;
    border-bottom: 0.5px solid #ededed;
    color: #333;
    transition-duration: 300ms;
    background-color: #fff;
    margin-top: -1px;
    padding: 30px 0px;
}
    .product-box:hover {
       color: #5bc0de;
    }

    .product-box .product-icon {
       display:block;
       padding-bottom: 10px;
    }

        .product-box .product-icon img {
            height: 60px;
            width: 60px;
        }

/**/

.warning-box {
    font-size: 14px;
    margin-bottom: 15px;
    background-color: rgb(230,230,230);
    padding: 20px 30px 30px 30px;
    border-radius: 20px;
}

/*back nav*/

.back-nav a.item img{
    width: 35px; 
    height: 35px;
}

    .back-nav a.item {
        height: 40px;
        width: 40px;
        padding: 2px 0px 0px 2px;
        display: block;
        border-radius: 20px;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        transition: .3s;
        cursor: pointer;
        box-shadow: 0px 0px 3px 0px #aaa;
    }    

    .back-nav a:hover {
        text-decoration: none;
    }

    .back-nav a:focus {
        text-decoration: none;
    }

/*submenu*/

.fixed {
   position: relative;
}

.submenu {
    padding: 40px 20px;
    margin-top: 0px;
    background-color: #fff;
    width: 300px;
    position: absolute;
    z-index: 100;
    right: 40px;
    text-align: center;
    box-shadow: 0px 0px 3px 0px #aaa;
}

    .submenu a.item {
        min-height: 40px;
        padding: 10px 30px 10px 30px;
        display: block;
        color: #333;
        margin-top: -1px;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        transition: .3s;
        background-color: #fff;
        border-bottom: 0.5px solid #ededed;
        border-top: 0.5px solid #ededed;
    }

    .submenu a:hover {
        text-decoration: none;
        color: #F9B013;
    }

    .blue-hover-anywhere:hover {
        color: #F9B013!important;
    }

    .submenu a:focus {
        text-decoration: none;
    }

    .submenu a.selected-submenu-item {
        color: #000000;
    }

        .submenu a.selected-submenu-item:hover {
            text-decoration: none;
            color: #F9B013;
        }

        .submenu a.selected-submenu-item:focus {
            text-decoration: none;
            color: #F9B013;
        }


.desktopmenu {
    position: absolute;
    z-index: 100;
    right: 40px;
    top: -40px;
}
   

    .desktopmenu a.item {
        margin-left: 30px;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        transition: .3s;
        color: #000;
    }
    
        .desktopmenu a.item.logout-link {
            opacity: 1;
            color: #000;
        }
    /*
            .desktopmenu a.item.logout-link:hover {
                color: #35c760;
            }*/


    .desktopmenu a:hover,
    .desktopmenu a:focus {
        text-decoration: none;
        color: #F9B013;
    }


    .desktopmenu a.selected-submenu-item {
        opacity: 1;
    }

        .desktopmenu a.selected-submenu-item:hover,
        .desktopmenu a.selected-submenu-item:focus {
            text-decoration: none;
            opacity: 1;
        }

.desktopmenu span.alt{
        display: block;
        padding: 40px 20px;
        margin-top: 0px;
        background-color: #fff;
        width: 300px;
        position: absolute;
        z-index: 100;
        right: 0px;
        text-align: center;
        box-shadow: 0px 0px 3px 0px #aaa;
        top: 40px;
    }

    span.glyphicon.glyphicon-play {
        transform: rotate(90deg);
        font-size: 11px;
        margin-left: 5px;
        color: #fff;
    }

.glyphicon-chevron-right.custom{
    font-size: 30px;
    color: #ededed;
}

.desktopmenu span.alt a.item {
    display: block;
    padding: 10px 0px;
    border-bottom: 0.5px solid #ededed;
    border-top: 0.5px solid #ededed;
    background-color: #fff;
    margin-top: -1px;
    color: #333;
    margin-left: 0px;
    opacity: 1;
}

    .desktopmenu span.alt a.item:hover {
        color: #F9B013;
    }


.mobile {
    display: none;
}

/*
.desktop{
    display: block;
}*/

.miniture {
    position: absolute;
    top: -50px;
    right: 15px;
    display: none;
    right: 40px;

}

.miniture img{
    width: 35px;
    height: 35px;
}

    .miniture a.item {
        -webkit-transition: .3s;
        -moz-transition: .3s;
        transition: .3s;
    }


.editblock {
    background-color: #f7f7f7;
    padding: 20px 30px 30px 30px;
    border-radius: 20px;
}

.vh-50 {
    min-height: 50vh;
    position: relative;
    display: flex !important;
    flex-direction: row !important;
}

.aligned-center {
    flex-grow: 1 !important;
    align-self: center !important;
    text-align:center;
}

.form-group {
    margin-top: 3px;
    margin-bottom: 0px;
}

.form-control-static {
    font-weight: bold;
}


.form-control {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    border: 0.5px solid #ccc;
    width: 100%;
    padding: 7px 0 4px 5px;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: bold;
    height: 38px;
}

    .form-control:focus {
        border-color: #ccc;
        outline: 0;
    }

    .form-control:disabled {
        border-color: #eee;
        background-color: #eee;
        color: #999;
        box-shadow: none;
    }

.ntechform .ntechinput {
    padding-bottom: 10px;
}

.input-group-addon{
    background-color: transparent;
}

.input-lg {
    padding: 0px;
    font-weight: bold;
    font-size: 32px;
    height: auto;
}

label {
    font-weight: normal;
}

.pb-3 {
    padding-bottom: 30px;
}

.pt-3 {
    padding-top: 30px;
}

.pt-2 {
    padding-top: 20px;
}

.pb-2 {
    padding-bottom: 20px;
}

.pb-1 {
    padding-bottom: 10px;
}

.pt-1 {
    padding-top: 10px;
}

.pt-2vh{
    padding-top: 15vh;
}
.comment-icon {
    border-radius: 15px;
    height: 30px;
    width: 30px;
    position: relative;
    padding: 5px 7px 7px 7px;
    background-color: #adadad;
}
    .comment-icon .glyphicon-comment {
        color: #FFFFFF;
    }
    .comment-icon.green {
        background-color: #35c760;
    }

.n-main-btn {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    min-width: 100px;
    padding: 12px 40px;
    box-sizing: border-box;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    border: 0px;
    border-radius: 20px;
    outline: 0px;
}

    a.n-main-btn {
        text-decoration: none;
    }

    .n-main-btn.disabled {
        background-color: #999;
        border-color: #999;
        pointer-events: none;
        box-shadow: none;
    }

    .n-main-btn:disabled {
        background-color: #999;
        border-color: #999;
        pointer-events: none;
        box-shadow: none;
    }

    .n-main-btn[disabled] {
        background-color: #999;
        border-color: #999;
        pointer-events: none;
        box-shadow: none;
    }

.n-direct-btn {
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    /*min-width: 100px;*/
    padding: 3px 20px 3px 20px;
    box-sizing: border-box;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    border: 0px;
    border-radius: 10px;
    /*border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;*/
    outline: 0px;
}

    .n-direct-btn.disabled {
        background-color: #999;
        border-color: #999;
        pointer-events: none;
        box-shadow: none;
    }

    .n-direct-btn:disabled {
        background-color: #999;
        border-color: #999;
        pointer-events: none;
        box-shadow: none;
    }

    .n-direct-btn[disabled] {
        background-color: #999;
        border-color: #999;
        pointer-events: none;
        box-shadow: none;
    }

.n-icon-btn {
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    box-sizing: border-box;
    color: #fff;
    height: 34px;
    width: 38px;
    font-family: Arial,sans-serif;
}

    span.n-icon-btn {
        display: inline-block;
        padding: 8px 0 0 12px;
        cursor: pointer;
    }

    a.n-icon-btn {
        display: block;
        text-align: center;
        padding-top: 5px;
        color: #fff;
        text-decoration: none;
    }

    .n-icon-btn:disabled {
        background-color: #999;
        border-color: #999;
        pointer-events: none;
        box-shadow: none;
    }



/*.n-turquoise-btn {
    background-color: #35c760;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(76,175,80,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(76,175,80,1);
    box-shadow: 0px 0px 2px 0px rgba(76,175,80,1);
}

    .n-turquoise-btn:hover {
        background-color: #35c760;
    }

    .n-turquoise-btn:active {
        box-shadow: 0px 0px #35c760;
    }*/

.n-green-btn {
    background-color: #000000;
}

    .n-green-btn:hover {
        background-color: #F9B013;
    }

    .n-green-btn:active {
        box-shadow: 0px 0px #F9B013;
    }

.n-white-btn {
    color: #000000;
    background-color: #ffffff;
    border: none;
    border: 2px solid #E6E6E6;
}

    .n-white-btn:hover {
        border-color: #F9B013;
    }

    .n-white-btn:active {
        border-color: #F9B013;
    }

 
.n-grey-btn {
    color: #939393;
    background-color: #f0f0f0;
    border: none;
    box-shadow: 2px 3px 2px #939393;
}

    .n-grey-btn:hover {
        background-color: #f9f9f9;
        color: #000;
    }


/*.n-darkblue-btn {
    background-color: #2c3f71;   
}

    .n-darkblue-btn:hover {
        background-color: #3b5693;
        color: #fff;
    }

    .n-darkblue-btn:active {
        box-shadow: 1px 1px 1px #266587;
        color: #fff;
    }*/


a.n-download-anchor {
    color: #000;
    font-weight: bold;
}

    a.n-download-anchor:hover {
        color: #F9B013;
    }

/*a .n-download-btn {
    padding: 5px 11px 8px 11px;
    transition-duration: .3s;
    text-align: center;
    color: #fff;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    display: inline-block;
    font-size: 14px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    text-transform: uppercase;
    background-color: #5bc0de;
    border: 1px solid #5bc0de;
}

    a .n-download-btn:focus {
        text-decoration: none;
        color: #fff;
    }

    a .n-download-btn[disabled] {
        background-color: #999;
        border-color: #999;
        pointer-events: none;
        box-shadow: none;
    }

    a:hover .n-download-btn {
        color: #fff;
        background-color: #47a0c7;
        border-color: #47a0c7;
        text-decoration: none;
    }*/

.status {

}

    .status .item {
        float: left;
        width: 33%;
        text-align: center;
        margin: 20px 0 30px 0;
        color: #333;
        border-top: 3px solid #ededed;
        padding-top: 15px;
    }

        .status .item.done {
            border-color: #f9b013;
        }

        .status .item.active{
            border-color: #f9b013;
        }

        .status .item.active p {
            color: #000000;
        }
        
        .status.small .item {
            margin-bottom: 0px;
        }


.footer{
    max-width: 1400px;
    margin: auto;
    padding: 40px 40px;
    text-align: right;
    min-height: 20vh;
}

ul.navigation-list li.language-settings{
    margin-left: 10px;
}
   
.language-settings a img {
    opacity: 0.5;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.language-settings a:hover img {
    opacity: 1;
}

.language-settings a.selected img {
    opacity: 1;
}

hr {
    border-color: #000;
}


.none {
    display: none;
}

.pdf-container {
    border: solid 2px white;
    height: 500px;
}

.panel-title {
    font-size: 28px;
    padding-bottom: 3px;
    border-bottom: 2px solid #000000;
    margin-bottom: 20px;
    text-transform: none;
}

.panel-title.adjusted{
    margin-left:60px;
}

a.n-anchor {
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #000;
    font-weight: bold;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

    a.n-anchor:hover {
        text-decoration: none;
        color: #F9B013;
        border-bottom: 2px solid #F9B013;
    }


.glyphicon-exclamation-sign {
    color: #000000;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

    .glyphicon-exclamation-sign:hover {
        opacity: 0.7;
    }

h1 {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
}

    h1.modal-header {
        font-size: 28px;
        border-bottom: 2px solid #000;
        text-align: center;
        padding-bottom: 7px;
        text-transform: none;
    }

h2 {
    font-size: 21px;
    padding-bottom: 2px;
    margin-top: 0px;
}

    h2.border {
        border-bottom: 1px solid #000;
    }

h3 {
    font-size: 20px;
    padding-bottom: 2px;
    font-weight: bold;
    font-stretch:condensed;
}

a{
    color: #333;
}

    a:hover,
    a:focus {
        color: #333;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        transition: .3s;
        text-decoration: none;
    }


.frame {
    background-color: #fff;
    padding: 20px 30px 30px 30px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.30);
}

.popup-position {
    position: fixed;
    bottom: 60px;
    right: 5%;
}

.toned-down {
    border-color: #efefef;
    color: #efefef;
}

hr.line {
    margin-top: -5px;
    width: 60%;
    margin-bottom: 10px;
}

.summery-line {
    margin-bottom: 5px;
    margin-top: 10px;
}


.list-item {
    padding-top: 25px;
    border-top: 0.5px solid #ededed;
    padding-bottom: 25px;
    border-bottom: 0.5px solid #ededed;
    margin-top: -2px;
    background-color: #fff;
}

/*expandeble*/

.list-details .list-item {
    padding: 12px 0px;
    min-height: 37px;
}

    .list-details .list-item a{
        color: #000;
        cursor:pointer;
    }

        .list-details .list-item a:hover .glyphicon-chevron-right.custom {
            color: #000;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            transition: .3s;
        }

    .list-details.list-hover .list-item {
        cursor: pointer;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        transition: .3s;
    }

    .list-details.list-hover .list-item:hover {
        /*background-color: #f2f2f2;*/
    }

        /*.list-details.list-hover .list-item:hover .moredetails-icon {
            border-color: transparent transparent #5bc0de transparent;
        }*/

        .list-details.list-hover .list-item:hover .glyphicon-chevron-right.custom {
            color: #000;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            transition: .3s;
        }

.list-details .list-item.details {
    font-size: 12px;
    padding: 15px 0px 10px 0px;
    border-top: 1px solid #000;
}

    .list-details .list-item.details:hover {
        background-color: transparent;
        cursor: default;
    }

.subinfo {
    font-size: 14px;
    display: block;
    color: #999;
    line-height: 25px;
}

.attention {
    color: #d15757;
}

.moredetails-icon {
    position: absolute;
    bottom: -20px;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 18px 18px;
    border-color: transparent transparent #ddd transparent;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

.list-details .list-item.active {
    /*background-color: #f2f2f2;*/
}

    .list-details .list-item.active .moredetails-icon {
        display: none;
    }

    .list-details .list-item.active .glyphicon-chevron-right.custom {
        color: #000;
        transform: rotate(90deg);
    }

/*direction*/

.list-details .direction-client {
    background-color: #d3d3d3;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
}

    .list-details .direction-client:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-right-color: #d3d3d3;
        border-left: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-left: 17px;
    }


    .list-details .direction-client .subinfo {
        color: #000;
        opacity: 0.5;
    }

.list-details .direction-customer {
    background-color: #539C87;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin-right: 20px;
}

    .list-details .direction-customer:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-left-color: #539C87;
        border-right: 0;
        border-bottom: 0;
        margin-top: -10px;
        margin-right: 17px;
    }

    .list-details .direction-customer .subinfo {
        color: #fff;
        opacity: 0.7;
    }

.list-details .list-item .direction-customer a.n-download-anchor {
    color: #fff;
}

/*attach secure messages*/
.custom-upload-wrapper {
    position: relative;
    width: 110px;
}

    .custom-upload-wrapper input[type=file] {
        position: absolute;
        left: 3px;
        top: 10px;
        font-size: 18px;
        width: 85px;
        opacity: 0;
    }

.custom-uploaded-preview {
    background-color: #d3d3d3;
    padding: 6px 5px 6px 5px;
    box-sizing: border-box;
}

/**/

.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #d15757;
}

/**/


/*BEGIN SPINNER*/
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 1050; /* 1040 is bootstrap modals so it needs to be more */
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

.table tbody > tr.open-inner-separator > td {
    border-bottom: 1.5px solid #d8a826;
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*END SPINNER*/


@media screen and (max-width: 760px) {
    .desktop {
        display: none;
    }

    .miniture, .mobile {
        display: block;
    }

    .fixed {
        position: relative;
        top: 0px;
        bottom: 0px;
    }
    
    .back-nav a.item img{
        width: 30px;
        height: 30px;
    }

    .back-nav a.item{
        width: 35px;
        height: 35px;
    }
    .submenu{
        right: 0px;
        width: 100%;
    }

    .navigation .content-position {
        padding: 0px 20px;
    }
    
    .miniture{
        right: 20px;
    }
    .content {
        padding: 40px 20px 20px 20px;
    }

    .status{
        margin-top: -20px;
    }

    .footer{
        padding: 20px 20px;
    }
}


@media screen and (max-width: 500px) {

    .status p {
        font-size: 12px;
    }
}
