@{
    Layout = "~/Views/Shared/_EmbeddedCustomerPagesImitationLayout.cshtml";
    ViewBag.Title = "Ansökningar";
}

@section Scripts {
    @Scripts.Render("~/Content/js/bundle-base")
}

<div class="content">
    <div style="display: flex; justify-content: center; align-content: center; flex-direction: column; align-items: center">
        <div style="padding-top:60px;">
            <p>@ViewBag.Message</p>
        </div>        
    </div>
</div>

