@{
    Layout = "~/Views/Balanzia/LocalResultPageBase.cshtml";
}
<div class="bg-result">
    <div class="success">
        @if (ViewBag.Language == "sv")
        {
            <h1>Ansökan behandlas fortfarande</h1>
            <p>Med vänlig hälsning<br />Balanzia</p>
        }
        else
        {
            <h1>HAKEMUS ON EDELLEEN KÄSITTELYSSÄ</h1>
            <p>Ystävällisin terveisin<br />Balanzia</p>
        }
    </div>
</div>