<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="ntech.test.defaulttime" value="2021-05-05T11:00:00.0000000+02:00" />
  <add key="ntech.ntest.defaultprovidername" value="balanziaSe"/>
  <add key="ntech.machinesettingsfile" value="C:\Naktergal\BroccSe\StaticResources\ntech.machinesettings.config" />
  <add key="ntech.ntest.usesqlserverdocumentdb" value="false" />
  <add key="ntech.test.resetenvironmentagentjobname" value="Reset BalanziaSeDev" />
  <add key="ntech.test.resetenvironmentjobrunnerpath" value="C:\Naktergal\Shared\SqlAgentJobRunner\SqlAgentJobRunner.exe" />
</appSettings>