<div *ngIf="m">
  <div class="row pb-2">
    <div class="col-xs-8">
      <div class="frame">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-xs-4 text-left">
              {{
                m.hasCustomerConfirmedBankAccounts
                  ? "Bank accounts has been confirmed"
                  : "Waiting for bank accounts to be confirmed"
              }}
            </label>
            <div class="col-xs-2">
              <span
                [ngClass]="getIconClass(m.hasCustomerConfirmedBankAccounts)"
                class="form-control-static-icon custom-glyph ntech-status-icon"
              ></span>
            </div>

            <div class="col-xs-6" *ngIf="m.isActiveAndCurrentStep">
              <select
                class="form-control"
                (change)="toggleBankAccountConfirmationStatusCode($event)"
              >
                <option></option>
                <option *ngIf="m.hasCustomerConfirmedBankAccounts">
                  Change to initial
                </option>
                <option *ngIf="!m.hasCustomerConfirmedBankAccounts">
                  Change to confirmed
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <customer-link-button
        [application]="m.application"
      ></customer-link-button>
    </div>
  </div>

  <div class="row pb-2 pt-1">
    <div class="col-xs-12">
      <button
        class="n-main-btn n-blue-btn"
        *ngIf="!m.isStepStatusAccepted && m.hasCustomerConfirmedBankAccounts"
        (click)="runFraudControls()"
      >
        Run fraud checks
      </button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="col-xs-3">Control</th>
        <th class="col-xs-1">Status</th>
        <th class="col-xs-5"></th>
        <th class="col-xs-4 text-right">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let control of m.controls">
        <td>{{ control.controlName }}</td>
        <td>
          <span
            [ngClass]="getIconClass(control.approvedByHandler)"
            class="glyphicon"
          ></span>
        </td>
        <td>
          <span *ngIf="control.matches === null">{{
            getNullMatchesText(control.controlKey, control.hasBeenRun)
          }}</span>
          <span *ngFor="let match of control.matches; let isLast = last">
            <a
              target="_blank"
              [routerLink]="['/unsecured-loan-application/application/', match]"
              [queryParams]="{}"
              class="n-anchor"
              >{{ match
              }}<span class="glyphicon glyphicon-new-window"></span></a
            >{{ isLast ? "" : " | " }}
          </span>
        </td>
        <td class="text-right">
          <div *ngIf="m.isActiveAndCurrentStep && control.hasBeenRun">
            <label class="pr-2">{{
              control.approvedByHandler ? "Approved" : "Not approved"
            }}</label>
            <ntech-toggle
              [isToggled]="control.approvedByHandler"
              (requestToggle)="toggleFraudControlApproval(control.controlKey)"
            ></ntech-toggle>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div
    class="pt-3"
    *ngIf="
      m.isActiveAndCurrentStep &&
      allFraudControlsApproved() &&
      m.hasCustomerConfirmedBankAccounts
    "
  >
    <label class="pr-2">Not approved</label>
    <label class="n-toggle">
      <input type="checkbox" (click)="approveFraudStep($event)" />
      <span class="n-slider" (click)="approveFraudStep($event)"></span>
    </label>
  </div>

  <div class="pt-3" *ngIf="m.isStepStatusRevertible">
    <label class="pr-2">Approved</label>
    <label class="n-toggle">
      <input checked type="checkbox" (click)="revertFraudStep($event)" />
      <span class="n-slider" (click)="revertFraudStep($event)"></span>
    </label>
  </div>
</div>
