
/*BASIC STYLES*/
.application {
    .bg {
        min-height: 100vh;
        position: relative;
        background: #35c760; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #35c760 0%, #289d4b 76%, #2a9c4e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #35c760 0%,#289d4b 76%,#2a9c4e 100%); /* Chrome10-25,Safari5.1-6 */    
        background: linear-gradient(170deg, #30d862 10%, #31c95e 30%, #1e883e 75%,#1b7e3a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c760', endColorstr='#2a9c4e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .bg-purple {
        min-height: 30vh;
        position: relative;
    
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8f2bc9+10,8d34c1+30,6d2298+75,691b96+100 */
        background: #8f2bc9; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #8f2bc9 10%, #8d34c1 30%, #6d2298 75%, #691b96 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #8f2bc9 10%,#8d34c1 30%,#6d2298 75%,#691b96 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(170deg, #8f2bc9 10%,#8d34c1 30%,#6d2298 75%,#691b96 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f2bc9', endColorstr='#691b96',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .bg-black{
        min-height: 30vh;
        position: relative;
        background: #272727;
    }

    .min-heigh-50{
        min-height: 50vh;
        position: relative;
    }

    .min-height-70{
        min-height: 70vh;
    }

    .d-flex {
        display: flex !important;
    }

    .align-self-center {
        align-self: center !important;
    }

    .align-self-end {
        align-self: flex-end !important;
    }
    .flex-grow-1 {
        flex-grow: 1 !important;
    }

    .flex-row {
        flex-direction: row !important;
    }

    .pt-1{
        padding-top: 10px;
    }

    .pt-2 {
        padding-top: 20px;
    }

    .pr-2{
        padding-right: 20px;
    }

    .pl-2{
        padding-left: 20px;
    }

    .pt-3{
        padding-top: 30px;
    }

    .pb-3{
        padding-bottom: 30px;
    }

    .pb-5{
        padding-bottom: 50px;
    }

    .pt-5{
        padding-top: 50px;
    }

    .pl-5{
        padding-left: 50px;
    }

    .pt-2{
        padding-top: 20px;
    }

    .pb-2{
        padding-bottom: 20px;
    }

    .mt-2 {
        margin-top: 20px;
    }

    .mt-5{
        margin-top: 50px;
    }

    /*Typografi*/

    h1{
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.9em;
        color: #000;
        margin-top: 0px;
    }

    p{
        font-size: 1.45em;
        color: #000;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
    }

    .bg h1 {
        color: #fff;    
        text-shadow: 0px 0px 13px #048042;  
    }

    .bg p {
        color: #ffffff;
        text-shadow: 0px 0px 13px #048042;
    }

    .bg p.lead{
        font-size: 2.5em;
        margin-bottom: 10px;
    }

    .bg small {
        color: #fff;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
    }

    .bg-purple h1,
    .bg-black h1{
        color: #fff;
    }

    .bg-purple p,
    .bg-black p{
        color: #fff;
    }

    /*table*/

    table.custom-table tbody tr:last-child td{
        border-bottom: 1px solid rgba(250,250,250,.5);
    }

    table.custom-table tbody tr td{
        padding: 10px 0px;
        color: rgba(250,250,250,.5);
        border-color: rgba(250,250,250,.5);
        font-size: 1.2em;
        font-family: "Archivo Narrow",sans-serif;
        letter-spacing: .04em;
        font-weight: normal;
    }

    /*Form*/

    button.add{
        background-color: #f2f2f2;
        outline: 0px;
        border: 0px;
        padding: 5px 15px;
        color: #000;
        font-size: 1.3em;
        -webkit-box-shadow: 2px 2px 7px 0px rgb(43, 112, 68);
        -moz-box-shadow: 2px 2px 7px 0px rgb(43, 112, 68);
        box-shadow: 2px 2px 7px 0px rgb(43, 112, 68);
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
        font-weight: bold;
    }

    button.add:hover{
        background-color: #ffffff;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        transition: .3s;
    }

    button.add:disabled {
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0,0.4);
        cursor: inherit;
        box-shadow: none;
    }    

    button.continue {
        background-color: #f2f2f2;
        outline: 0px;
        border: 0px;
        padding: 11px 30px;
        color: #000;
        font-size: 1.3em;
        -webkit-box-shadow: 2px 2px 7px 0px rgb(43, 112, 68);
        -moz-box-shadow: 2px 2px 7px 0px rgb(43, 112, 68);
        box-shadow: 2px 2px 7px 0px rgb(43, 112, 68);
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        cursor: pointer;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
        font-weight: 500;
    }

    button.continue:hover {
        background-color: #ffffff;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        transition: .3s;
    }

    button.continue .glyphicon-play{
        font-size: 8px;
        padding-left: 15px;
        margin-right: -15px;
        top: -2px;
    }

    button.continue:disabled {
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0,0.4);
        cursor: inherit;
        box-shadow: none;
    }

    button.continue:disabled span.glyphicon{
        display: none;
    }

    button.continue:disabled:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    button.calculate-btn {
        background-color: #f2f2f2;
        outline: 0px;
        border: 0px;
        padding: 8px 11px;
        color: #000;
        font-size: 1em;
        border-radius: 5px;
        -webkit-box-shadow: 2px 2px 7px 0px rgb(43, 112, 68);
        -moz-box-shadow: 2px 2px 7px 0px rgb(43, 112, 68);
        box-shadow: 2px 2px 7px 0px rgb(43, 112, 68);
        cursor: pointer;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
        font-weight: 500;
    }

    .custom-label {
        display: block;
        margin-bottom: 25px;
        color: #ffffff;
        font-size: 1.45em;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
        font-weight: 500;
        text-shadow: 0px 0px 13px #048042;
    }

    .custom-input {
        width: 100%;
        outline: 0;
        border: 0px;
        border-radius:0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-bottom: 1px solid rgba(250, 250, 250, 0.5);
        font-size: 1.2em;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
        font-weight: 500;
        padding: 10px 0px;
        background-color: transparent;
        color: #f5f5f5;
    }

    input.custom-input:focus {
        border-bottom: 1px solid #ffffff;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        transition: .3s;
    }

    input.custom-input::placeholder {
        color: #fff;
        font-weight: normal;
        opacity: 0.6;
    }

    .custom-select{       
        background-color: transparent;        
        outline: 0;
        border:0px;
        border-radius: 0px;
        border-bottom: 1px solid rgba(250, 250, 250, 0.5);
        font-size: 1.2em;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
        font-weight: 500;
        padding: 10px 0px;
        color: #f5f5f5;
        width: 100%;
        opacity: 0.6;
    }

    select option {
        color: #000;
        opacity: 1;
    }
    
    .custom-select:active{
        border-bottom: 1px solid #ffffff;
        opacity: 1;
    }

    .custom-select:focus{
        border-bottom: 1px solid #ffffff;
        opacity: 1;
    }

    select.custom-select.ng-valid {
        opacity: 1;
    }

    ul.custom-bullet{
        padding-left: 50px;
    }

    ul.custom-bullet li{
        margin-bottom: 10px;
        position: relative;
    }

    ul.custom-bullet li .text{
        display: block;
    }

    a.download{
        color: #ff8800;
        text-decoration: none;
        font-size: 1.45em;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
        font-weight: 500;
    }

    a.download:hover{    
        text-decoration: underline;
    }


    a.download .glyphicon{
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        left: -50px;
        top: 4px;
    }

    a.custom-link{
        font-size: 1.25em;
        color: #000;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
        text-decoration: none;
    }

    .bg a.custom-link {
        color: #fff;    
        text-shadow: 0px 0px 13px #048042;  
    }

        .bg a.custom-link:hover {
            opacity: 1;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            transition: .3s;
        }

    .bg-black a.custom-link{
        font-size: inherit;
        color: #fff;   
        text-decoration: underline; 
    }

    .bg-black a.custom-link{
        color: #fff;    
    }

    button.custom-link {
        color: #fff;
        text-decoration: underline;
        font-size: 1.2em;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
        font-weight: 500;
        text-shadow: 0px 0px 13px #048042;
        border: 0px;
        background-color: transparent;
        opacity: 0.8;
        padding: 0px;
    }

        button.custom-link:hover {
            opacity: 1;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            transition: .3s;
        }

        button.custom-link:focus{
            border: 0px;
            outline: 0px;
        }

    /*radiobutton styles*/

    .custom-radio {
        width: 100%;
        text-align: left;
        padding: 8px 15px 9px 0px;
        cursor: pointer;
        font-size: 1.2em;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
        font-weight: 500;
        border-bottom: 1px solid transparent;
        color: rgba(255,255,255,0.6);
    }

        .custom-radio.active {
            color: rgba(255,255,255,1);
            border-bottom: 1px solid rgb(255, 255, 255);
        }

        .custom-radio:hover {
            -webkit-transition: .3s;
            -moz-transition: .3s;
            transition: .3s;
            color: rgba(255,255,255,1);
            border-bottom: 1px solid rgb(255, 255, 255);
        }

        .custom-radio input[type=radio] {
            margin-right: 20px;
        }


    /*checkbox style*/

    .custom-checkbox {
        width: 100%;
        text-align: left;
        padding: 7px 15px 13px 50px;
        cursor: pointer;
        font-size: 1.2em;
        font-family: 'Archivo Narrow', sans-serif;
        letter-spacing: 0.04em;
        font-weight: 500;
        border-bottom: 1px solid transparent;
        position: relative;
        color: rgba(255,255,255,0.6);
        margin-bottom: 20px;
    }

        .custom-checkbox.active {
            color: rgba(255,255,255,1);
            border-bottom: 1px solid rgb(255, 255, 255);
        }

        .custom-checkbox:hover {
            -webkit-transition: .3s;
            -moz-transition: .3s;
            transition: .3s;
            color: rgba(255,255,255,1);
            border-bottom: 1px solid rgb(255, 255, 255);
        }

        .custom-checkbox input[type=checkbox] {
            margin-right: 20px;
            left: 0px;
            position:absolute;
        }


    /*progressbar*/

    .progress {
        background-color: #0a822d;
        border-radius: 0px;
        margin-bottom: 0px;
        -webkit-box-shadow: 2px 2px 7px 0px rgb(43, 112, 68);
        -moz-box-shadow: 2px 2px 7px 0px rgb(43, 112, 68);
        box-shadow: 2px 2px 7px 0px rgb(43, 112, 68);
        cursor: pointer;
    }

    .progress-bar{
        background-color: #fff;
        box-shadow: none;
    }


    /*animations*/

    .movein {
        animation-name: fadeinleft;
        animation-duration: 0.6s;
        animation-timing-function: ease-out;
        animation-delay: 0;
    }

    @keyframes fadeinleft {
        0% {
            transform: translate(0vh, 5vh);
            opacity: 0;
        }

        100% {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }


    /*diverse*/

    .none {
        display: none;
    }

    .nowrap{
        white-space: nowrap;
    }

    img{
        max-width: 100%;
        max-height: 100%;
    }

    @media screen and (max-width: 768px) {
        .mobile-not-visible {
            display: none;
        }

        .mobile-pt-2{
            padding-top: 0px;
        }

        .mobile-no-vh{
            min-height: auto;
        }

    }

    @media screen and (max-width: 500px) {
        h1{
            font-size: 2em;
        }
    }
}