<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="ntech.logfilefolder" value="C:\NaktergalTemp\Logs\nWindowsAuthIdentityServer" />
  <add key="ntech.identityserver.certificate" value="filewithpw:C:\Naktergal\FI-Staging\StaticResources\cert-BalanziaProdSigningCert1.pfx;wei0rfju2gft8290rdf8j903gtj84590gj8hg"/>
  <add key="ntech.identityserver.windows.debugpage.enable" value="true" />  
  <add key="ntech.machinesettingsfile" value="C:\Naktergal\FI-Staging\StaticResources\ntech.machinesettings.config" />
</appSettings>