[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

html {
    overflow-y: scroll;
}

body {
    font-size: 16px;
    font-family: Roboto,sans-serif;
    background-color: #f9f9f9;
}

.wrapper {
    min-height: 90vh;
    min-height: 70vh;
}

.body-content {
    position: relative;
    max-width: 1400px;
    margin: auto;
    min-height: 70vh;
}

.content {
    padding: 40px 40px 100px 40px;
    max-width: 1400px;
    margin: auto;
}

.flex-container{
    display: flex;
    min-height: 70vh;
    flex-direction: row;
}
.align-center{
    align-self: center;
    flex-grow: 1;
}

label{
    font-weight: normal;
    color: #000;
}

h3{
    font-size: 38px;
    font-weight: 700;
    color: #034480;
}

.form-control {
    color: #000;
    font-weight: bold;
}

.n-main-btn {
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    border-radius: 7px;
    min-width: 130px;
    padding: 6px 25px 4px 25px;
    box-sizing: border-box;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    font-family: 'Roboto',sans-serif;
    border: 0px;
    white-space: nowrap;
}

a.n-main-btn {
    text-decoration: none;
    color: #fff;
}

.n-main-btn.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.n-main-btn:disabled {
    opacity: 0.3;
    pointer-events: none;
}

.n-main-btn[disabled] {
    opacity: 0.3;
    pointer-events: none;
}

.n-main-btn.n-white-btn[disabled] {
    opacity: 0.3;
    pointer-events: none;
}

.n-main-btn .glyphicon {
    margin-left: 5px;
    font-size: 11px;
}

.n-white-btn,
a.n-white-btn {
    color: #000;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px #757575;
}

    .n-white-btn:hover {
        background-color: #f9f9f9;
    }

    .n-white-btn:active {
        box-shadow: 0px 0px #adadad;
    }

.n-main-btn.n-white-btn {
    color: #000;
    background-color: #ffffff;
    border: 1px solid rgb(169, 169, 169);
    box-shadow: 1px 1px 3px #adadad;
}

    .n-main-btn.n-white-btn:hover {
        background-color: #f9f9f9;
    }

.n-green-btn {
    background-color: #00c1c1;
    box-shadow: 1px 1px 3px #5c6f6a;
}