<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />  
  
  <add key="ntech.isbundlingenabled" value="false" />
  <add key="ntech.scheduler.modelfile" value="C:\Naktergal\FI-Staging\NaktergalTemp\CurrentClientResources\Balanzia-ScheduledJobs.xml" />
  <add key="ntech.email.provider" value="mailgun"/>
  <add key="ntech.email.mailgun.apikey" value="key-1cf7820c6d05d953376e3cf3ea4d1224"/>
  <add key="ntech.email.mailgun.domain" value="mail1.balanzia.fi"/>  
  <add key="ntech.scheduler.alertemail" value="lainat@balanzia.fi" />
  <add key="ntech.scheduler.alertprovider" value="email" />    
  <add key="ntech.machinesettingsfile" value="C:\Naktergal\FI-Staging\StaticResources\ntech.machinesettings.config" />
</appSettings>