<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />  
  <add key="ntech.gcccustomerapplication.precreditcredentials.username" value="balanzia1" />
  <add key="ntech.gcccustomerapplication.precreditcredentials.password" value="34j90f3782v40ft278gfth4!!2dF" />
  <add key="ntech.gcccustomerapplication.providername" value="balanzia"/>
  <add key="ntech.gcccustomerapplication.disablecaching" value="false"/>
  <add key="ntech.gcccustomerapplication.successurl" value=""/>
  <add key="ntech.gcccustomerapplication.failedurl" value=""/>
  <add key="ntech.gcccustomerapplication.eone.providername" value="eone"/>
  <add key="ntech.gcccustomerapplication.etua.providername" value="etua"/>
  <add key="ntech.gcccustomerapplication.salus.providername" value="salus"/>
  <add key="ntech.performancelog.enabled" value="true"/>
  <add key="ntech.gcccustomerapplication.providerapplicationlogfolder" value="C:\Naktergal\FI-Staging\NaktergalTemp\Logs\nGccCustomerApplication\ProviderApplicationRequests" /> 
  <add key="ntech.gcccustomerapplication.redirectoldapplication" value="false" />
  <add key="ntech.legalinterestceilingpercent" value="20" />
  <add key="ntech.machinesettingsfile" value="C:\Naktergal\FI-Staging\StaticResources\ntech.machinesettings.config" />
    <add key="ntech.gcccustomerapplication.systemuser.username" value="customerpages1" />
  <add key="ntech.gcccustomerapplication.systemuser.password" value="0923fmruj8f1e!!55fjw9e0fj430tcxXSS." />
    <add key="ntech.gcccustomerapplication.allowsignicateidlogin" value="true" />    
  <add key="ntech.gcccustomerapplication.signatures.forcesignicat" value="true" />
</appSettings>