<form [formGroup]="m.form.form">
  <div class="row text-center pt-3">
    <div class="col-sm-12">
      <p>Hur mycket har du i befintliga bolån?</p>
      <h2>{{ m.form.getValue("currentDebtAmount") | number: "1.0-2" }} kr</h2>
    </div>
  </div>

  <calculator-slider
    [initialData]="m.currentDebtAmountSliderData"
  ></calculator-slider>

  <div class="row text-center pt-3">
    <div class="col-sm-12">
      <p>Vad är det uppskattade värdet på bostaden?</p>
      <h2>{{ m.form.getValue("objectValueAmount") | number: "1.0-2" }} kr</h2>
    </div>
  </div>

  <calculator-slider
    [initialData]="m.objectValueAmountSliderData"
  ></calculator-slider>

  <div class="pt-1">
    <div class="checkbox">
      <label
        ><input type="checkbox" formControlName="isPayoutRequested" /> Jag vill
        utöka lånet</label
      >
    </div>
  </div>

  <div
    *ngIf="m.form.getValue('isPayoutRequested')"
    class="row text-center pt-3"
  >
    <div class="col-sm-12">
      <p>Hur mycket extra vill du låna?</p>
      <h2>
        {{ m.form.getValue("paidToCustomerAmount") | number: "1.0-2" }} kr
      </h2>
    </div>
  </div>

  <calculator-slider
    *ngIf="m.form.getValue('isPayoutRequested')"
    [initialData]="m.paidToCustomerAmountSliderData"
  ></calculator-slider>
</form>
