@using nSavings.Code
@using NWebsec.Mvc.HttpHeaders.Csp
@{
    ViewBag.Title = "Savings - Outgoing Payments";
    ViewBag.AngularDeclaration = "ng-app=\"app\" ng-controller=\"ctr\" ng-cloak";
    ViewBag.LoaderDeclaration = "ng-show=\"isLoading\"";
}

@section Scripts {
    <script @Html.CspScriptNonce()>
        const initialData = JSON.parse(atob('@Html.Raw(ViewBag.JsonInitialData)'));
    </script>
    @Scripts.Render("~/Content/js/bundle-outgoingpayments-index")
}

<div class="pt-1 pb-2">
    <div class="pull-left">
        <a class="n-back" href="@(new Uri(NEnv.ServiceRegistry.External["nBackoffice"]).ToString())">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </a>
    </div>
    <h1 class="adjusted">Savings: Outgoing payments</h1>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="frame">
            <div class="row">
                <div class="col-sm-4">
                    <p>&nbsp;</p>
                    <p>Withdrawals</p>
                    <p>Closed accounts</p>
                    <p>Repayments</p>
                    <p><b>Total</b></p>
                </div>
                <div class="col-sm-4 text-center">
                    <p><b>Number of payments</b></p>
                    <p>{{pending.WithdrawalCount}}</p>
                    <p>{{pending.AccountClosureCount}}</p>
                    <p>{{pending.RepaymentOfUnplacedPaymentCount}}</p>
                    <p><b>{{pending.TotalCount}}</b></p>
                </div>
                <div class="col-sm-3 text-right">
                    <p><b>Amount</b></p>
                    <p>{{pending.WithdrawalAmount | currency}}</p>
                    <p>{{pending.AccountClosureAmount | currency}}</p>
                    <p>{{pending.RepaymentOfUnplacedPaymentAmount | currency}}</p>
                    <p><b>{{pending.TotalAmount | currency}}</b></p>
                </div>
            </div>
            <div class="text-center pt-3">
                <button class="n-main-btn n-green-btn" ng-disabled="pending.TotalCount <= 0"
                        ng-click="createFile($event)">Create payment file
                </button>
            </div>
        </div>
    </div>
</div>
<div class="pt-3 no-hits text-center" ng-show="files && files.TotalNrOfPages == 0"><p>There are no outgoing payment
        files yet.</p></div>
<div class="pt-3" ng-show="files && files.TotalNrOfPages > 0">
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th class="text-center">Number of payments</th>
            <th class="text-right">Total amount</th>
            <th class="text-right">Download file</th>
            <th class="text-right">By</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="f in files.Page">
            <td>{{f.TransactionDate | date:'shortDate'}}</td>
            <td class="text-center">{{f.PaymentsCount}}</td>
            <td class="text-right">{{f.PaymentsAmount | currency}}</td>
            <td class="text-right"><a class="n-direct-btn n-purple-btn" target="_blank"
                                      ng-href="{{f.ArchiveDocumentUrl}}">File <span
                        class="glyphicon glyphicon-save"></span></a></td>
            <td class="text-right">{{f.UserDisplayName}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="files && files.TotalNrOfPages > 1">
    <div class="dataTables_paginate paging_simple_numbers custom-pagination">
        <ul class="pagination">
            <li class="paginate_button previous" ng-show="filesPaging.isPreviousAllowed">
                <a href="#"
                   ng-click="gotoPage(filesPaging.previousPageNr, $event)">Previous</a>
            </li>
            <li class="paginate_button previous disabled" ng-hide="filesPaging.isPreviousAllowed">
                <a href="#"
                   ng-click="$event.preventDefault()">Previous</a>
            </li>

            <li ng-repeat="p in filesPaging.pages" class="paginate_button"
                ng-class="{ 'active' : p.isCurrentPage, 'disabled' : p.isSeparator }">
                <a href="#" ng-click="gotoPage(p.pageNr, $event)" ng-hide="p.isSeparator">{{p.pageNr+1}}</a>
                <a href="#" ng-show="p.isSeparator" ng-click="$event.preventDefault()">...</a>
            </li>

            <li class="paginate_button next" ng-show="filesPaging.isNextAllowed"><a href="#"
                                                                                    ng-click="gotoPage(filesPaging.nextPageNr, $event)">Next</a>
            </li>
            <li class="paginate_button next disabled" ng-hide="filesPaging.isNextAllowed"><a href="#"
                                                                                             ng-click="$event.preventDefault()">Next</a>
            </li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>