<div class="row pb-2" *ngIf="m?.initial">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="editblock">
      <form [formGroup]="m.initial.form.form">
        <div class="form-horizontal">
          <editblock-form-field
            [model]="m.initial.editFields['isActive']"
          ></editblock-form-field>
          <editblock-form-field
            [model]="m.initial.editFields['accountOwnerApplicantNr']"
          ></editblock-form-field>
          <editblock-form-field
            [model]="m.initial.editFields['bankAccountNr']"
          ></editblock-form-field>
          <div
            class="form-group"
            *ngIf="m.initial.form.getValue('isActive') === 'true'"
          >
            <label class="control-label col-xs-6"
              >Signed Consent document</label
            >
            <div class="col-xs-6">
              <p class="form-control-static" *ngIf="!includeConsentPdf()">-</p>
              <p class="form-control-static" *ngIf="includeConsentPdf()">
                <a
                  target="_blank"
                  class="n-direct-btn n-purple-btn"
                  [href]="getArchiveUrl(m.initial.signedConsentPdf.archiveKey)"
                  >Document <span class="glyphicon glyphicon-save"></span
                ></a>
              </p>
            </div>
          </div>
          <div class="pt-3 text-center" *ngIf="m.initial.inEditMode">
            <button
              class="n-main-btn n-blue-btn"
              [disabled]="m.initial.form.invalid()"
              (click)="initiateChange($event)"
            >
              Initiate change
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row pb-2" *ngIf="m?.terms">
  <div class="frame termsframe col-sm-8 col-sm-offset-2">
    <div class="pb-3">
      <div class="col-xs-12 pb-2">
        <div class="pull-right">
          <button
            class="n-main-btn n-white-btn"
            *ngIf="m.terms.isCancelAllowed"
            (click)="cancel($event)"
          >
            Cancel
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-xs-6 control-label">Direct debit</label>
              <p class="col-xs-6 form-control-static">
                {{ m.terms.isActive ? "Pending activation" : "Not active" }}
              </p>
            </div>

            <div class="form-group" *ngIf="m.terms.isActive">
              <label class="col-xs-6 control-label">Payment number</label>
              <p class="col-xs-6 form-control-static">
                <span class="copyable">{{
                  m.terms.activeAccount.paymentNr
                }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-horizontal">
            <div class="form-group" *ngIf="m.terms.isActive">
              <label class="col-xs-4 control-label">Account owner</label>
              <p class="col-xs-8 form-control-static">
                <span class="copyable">{{
                  m.terms.activeAccount.accountOwnerName
                }}</span
                >,<span class="copyable">{{
                  m.terms.activeAccount.accountOwnerCivicRegNr
                }}</span>
              </p>
            </div>

            <div class="form-group" *ngIf="m.terms.isActive">
              <label class="col-xs-4 control-label">Bank account</label>
              <p class="col-xs-8 form-control-static">
                <span class="copyable">{{
                  m.terms.activeAccount.bankAccountNr
                }}</span>
              </p>
            </div>

            <div class="form-group" *ngIf="m.terms.isActive">
              <label class="col-xs-4 control-label"
                >Signed consent document</label
              >
              <p class="col-xs-8 form-control-static">
                <a
                  *ngIf="m.terms.activeAccount.signedConsentPdfArchiveKey"
                  target="_blank"
                  class="n-direct-btn n-purple-btn"
                  [href]="
                    getArchiveUrl(
                      m.terms.activeAccount.signedConsentPdfArchiveKey
                    )
                  "
                  >Document <span class="glyphicon glyphicon-save"></span
                ></a>
                <span *ngIf="!m.terms.activeAccount.signedConsentPdfArchiveKey"
                  >-</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pb-3" *ngIf="m.terms.isPending && m.terms.isActive">
      <div class="col-xs-12 text-center">
        Direct debit is confirmed to be activated?
      </div>
      <div class="col-xs-12 text-center pb-2">
        <input
          type="checkbox"
          [checked]="m.terms.isPendingConfirmed"
          (change)="onPendingConfirmedToggled($event)"
        />
      </div>
    </div>

    <div class="row text-center" *ngIf="m.terms.isPending">
      <button
        class="n-main-btn n-green-btn"
        [disabled]="!m.terms.isPendingConfirmed && m.terms.isActive"
        (click)="approveChange($event)"
      >
        Approve
      </button>
    </div>
  </div>
</div>
