@{
    Layout = null;
}

<script type="text/ng-template" id="mortgage-application-object-info.html">
    <div ng-if="$ctrl.m">
        <two-column-information-block initial-data="$ctrl.m.infoBlockInitialData"></two-column-information-block>
    </div>
</script>
