@{
    Layout = null;
}

<script type="text/ng-template" id="mortgage-application-documents.html">
    <div ng-if="$ctrl.m">
        <application-documents initial-data="$ctrl.m.documentCheckInitialData"></application-documents>
    </div>
</script>
