@{
    Layout = null;
}

<script type="text/ng-template" id="mortgage-loan-application-basis.html">
    <div ng-if="$ctrl.m">
        <div class="pt-1 pb-2" ng-show="!$ctrl.m.editMode">
            <div ng-if="$ctrl.m.onBack" class="pull-left ng-scope"><a href="#" ng-click="$ctrl.m.onBack($event)" class="n-back"><span class="glyphicon glyphicon-arrow-left"></span></a></div>
            <h1 class="adjusted">Application basis</h1>
        </div>

        <div class="row" ng-show="!$ctrl.m.editMode">
            <div class="col-sm-offset-2 col-xs-8">
                <div class="editblock">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-xs-6">Household income</label>
                            <div class="col-xs-4">
                                <p class="form-control-static"><a class="n-anchor n-longer" ng-click="$ctrl.editHouseholdIncome($event)">{{$ctrl.m.current.CombinedGrossMonthlyIncome | currency}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <div ng-switch="$ctrl.m.editMode">
            <div ng-switch-when="householdIncome">
                <mortgage-loan-application-household-income initial-data="$ctrl.m.householdIncomeInitialData" ></mortgage-loan-application-household-income>
            </div>
        </div>
    </div>
</script>